<div class="container" id="main">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="Content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-success alert-lg">
                                    <h2 style="text-align: center;"><u>Instructions to the Candidates</u></h2>
                                    <br>
                                    <h5>Format of the Selection Test:</h5>
                                    <ul>
                                        <li style="text-align: justify;text-justify: inter-word;">A one hour selection test consisting of 20 MCQs in Logical Reasoning, Maths and English Comprehension (including content from the Student Guidebook) will be held on 02 June 2021. How to access the test will be emailed
                                            to you on 24 May 2021 after 2pm for those who submit applications until 23 May 2021 and 30 May 2021 after 2pm for those who submit applications after 23 May 2021 till 29 May 2021.</li>
                                        <li style="text-align: justify;text-justify: inter-word;">Access details to the Mock test (practice test) and the date will be sent to the email address provided by you on the application to all candidates who have <b>booked an Entrance Exam Time Slot</b>.</li>
                                    </ul>

                                    <h5>Guidelines for Sitting for Home Based Online Selection Tests</h5>
                                    <ul>
                                        <li style="text-align: justify;text-justify: inter-word;">All candidates <b><u>MUST</u></b> have access to video enabled Zoom facility as they will be monitored for the total duration of the test via video camera.</li>
                                        <li style="text-align: justify;text-justify: inter-word;">Candidates can use a laptop computer with a video camera.</li>
                                        <li style="text-align: justify;text-justify: inter-word;">In case the candidate does not have a laptop computer with a Camera, then they should use a Smartphone to connect to the Zoom session.</li>
                                        <li style="text-align: justify;text-justify: inter-word;">Each candidate will be sent a link to connect to the Zoom session via email.</li>
                                        <li style="text-align: justify;text-justify: inter-word;">During the test you will be monitored via the Zoom video links by an invigilator.</li>
                                        <li style="text-align: justify;text-justify: inter-word;">Zoom session with video on should be kept active during the test. Camera should be clearly focused on the candidate for the total duration of the examination</li>
                                        <li style="text-align: justify;text-justify: inter-word;">The OUSL reserves the right to cancel or withhold the results of any candidate who does not adhere to these guidelines.</li>
                                    </ul>

                                    <br>
                                    <br>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h6>Contact</h6>
                                            </div>
                                            <div class="col-sm-1">
                                                <h6>:</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6>070 1819239 / 070 1819240 / 070 1819241/011 288 1081 (office hours only) for further details
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h6>Application Website</h6>
                                            </div>
                                            <div class="col-sm-1">
                                                <h6>:</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6><a href="https://ums.omis.site/application-details">ums.omis.site</a></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h6>Request for facilities to sit for the online selection test</h6>
                                            </div>
                                            <div class="col-sm-1">
                                                <h6>:</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLScnGBP-mMt1UqAERr5X8oDKNeGa99eByeCwp1WHIBiMAhHjjw/viewform?vc=0&c=0&w=1&flr=0">bit.ly/bsetest2</a></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h6>email</h6>
                                            </div>
                                            <div class="col-sm-1">
                                                <h6>:</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6>bseinfo@ousl.lk</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h6>WWW</h6>
                                            </div>
                                            <div class="col-sm-1">
                                                <h6>:</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6><a href="https://ou.ac.lk/bseinfo">www.ou.ac.lk/bseinfo</a></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h6>Frequently Asked Questions (FAQ)</h6>
                                            </div>
                                            <div class="col-sm-1">
                                                <h6>:</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6><a href="https://www.ou.ac.lk/bscse-faq/">www.ou.ac.lk/bscse-faq/</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>