<div class="container" id="main">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="Content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-success alert-lg">
                                    <h2 style="text-align: center;">Submit Successfully!</h2>
                                    <br>
                                    <h6>You have applied for the <b>{{program}}</b> successfully.
                                    </h6>

                                    <div>
                                        <h4 [hidden]="!hasDate">Please, login again to the system to <b>{{message}}</b> from
                                            <b>{{date1}}</b> to <b>{{date2}}</b>.
                                        </h4>
                                        <h4 [hidden]="hasDate">Please, login again to the system to <b>{{message}}</b> later.
                                        </h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>