<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Please wait...</p>
</ngx-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="card card-info mycard" style="padding: 15px;">
                    <form class="form-horizontal" [formGroup]="mainForm">
                        <div class="card-body Content-wrapper">
                            <div class="header">
                                <h1 class="header-text text-center">Final Marks Approval</h1>
                            </div>
                            <div class="col-sm-12 mx-auto">
                                <div class="form-group row">
                                    <label for="programName" class="col-sm-3 col-form-label">Programme Name<b
                      style="color: red;">*</b></label>
                                    <div class="col-sm-5">
                                        <select class="input-type col-sm-10 form-control form-control-sm" name="programName" formControlName="programName" (change)="getExaminationComponents($event.target.value)">
                      <option value="" disabled hidden selected>Select----------
                      </option>
                      <option *ngFor="let Program of Programs" value={{Program.id}} name="programName" id="Program">
                        {{Program.code}}: {{Program.title}}
                      </option>
                    </select>
                                        <span class="text-danger" *ngIf="(mainFormControl.programName.touched || submitted) && mainFormControl.programName.errors?.required">
                      Programme name is required.
                    </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="entryExamName" class="col-sm-3 col-form-label">Entrance Exam Name</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="input-type col-sm-10 form-control form-control-sm" id="entranceExamName" formControlName="entryExamName" [placeholder]="GenProName" name="entryExamName" [value]="GenProName" readonly>
                                    </div>
                                    <div class="col-sm-5">
                                        <a href="/entry_exam_marks_criteria/define-status-criteria" rel="noopener noreferrer" style="text-decoration: underline;">View Entrance Exam Marks Criteria</a>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="academicCenter" class="col-sm-3 col-form-label">Academic Centre</label>
                                    <div class="col-sm-5">
                                        <select class="input-type col-sm-10 form-control form-control-sm" name="academicCenter" formControlName="academicCenter" (change)="selectAcademicCentre($event.target.value)">
                      <option value="" disabled hidden selected>Select----------
                      </option>
                      <option *ngFor="let type of academicCenter" value={{type.rgmCenterId}} name="academicCenter"
                        id={{type.rgmCenterId}}>
                        {{type.rgmCenterDescription}}
                      </option>
                    </select>
                                        <span class="text-danger" *ngIf="(mainFormControl.academicCenter.touched || submitted) && mainFormControl.academicCenter.errors?.required">
                      Academic Center is required.
                    </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="medium" class="col-sm-3 col-form-label">Medium</label>
                                    <div class="col-sm-5">
                                        <select class="input-type col-sm-10 form-control form-control-sm" name="medium" formControlName="medium" (change)="selectMedium($event.target.value)">
                      <option value="" disabled hidden selected>Select----------
                      </option>
                      <option *ngFor="let me of medium" value={{me.med_mediumId}} name="medium" id="type">
                        {{me.med_description}}
                      </option>
                    </select>
                                        <span class="text-danger" *ngIf="(mainFormControl.medium.touched || submitted) && mainFormControl.medium.errors?.required">
                      Medium is required.
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-body col-sm-4 Content-wrapper">
                        <label class="myunderline"><b>Summery</b></label>
                        <div class="row">
                            <div class="col-sm-7">
                                <label class="col-sm-12">Total Attendees <b style="float: right;">:</b> </label>
                                <label class="col-sm-12">Pass <b style="float: right;">:</b> </label>
                                <label class="col-sm-12">Fail <b style="float: right;">:</b> </label>
                                <label class="col-sm-12">With Held <b style="float: right;">:</b> </label>
                            </div>
                            <div class="col-5">
                                <label class="col-sm-12">{{total}}</label>
                                <label class="col-sm-12">{{pass}}</label>
                                <label class="col-sm-12">{{fail}}</label>
                                <label class="col-sm-12">{{withHeld}}</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-body col-sm-12 Content-wrapper">
                        <label class="form-input-label myunderline"><b>Approve Records</b></label>
                        <div class="row">
                            <div class="col-sm-6 row">
                                <div class="col-sm-8" [formGroup]="mainForm2">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" style="padding-right:0;text-align: end;">Sort By</label>
                                        <div class="col-sm-6">
                                            <select formControlName="SortPrograms" name="SortPrograms" class="form-control pointer form-control-sm" id="sel3" (change)="sortData($event.target.value)">
                        <option value="" disabled hidden selected>Sort By----------
                        </option>
                        <option value="1" name="Entries" id="Entries">
                          Application No
                        </option>
                        <option value="2" name="Entries" id="Entries">
                          NIC
                        </option>
                        <option value="3" name="Entries" id="Entries">
                          Marks
                        </option>
                        <option value="6" name="Entries" id="Entries">
                          Page No
                        </option>
                      </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-default plus" style="padding-left: 0px;" (click)="getTable()"><i class="fa fa-search pointer"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 row">
                                <p style="color: rgb(123, 190, 35);"> {{entries}} Records Found.</p>
                            </div>
                            <div class="col-sm-1 row">
                                <div class="test-right" style="float:right;">
                                    <button type="submit" class="btn btn-default plus btncss float-right" [disabled]="downloadBtnEnable" (click)="downloadFile()">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-down"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fil-rule="evenodd"
                        d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z" />
                      <path fill-rule="evenodd"
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg>
                  </button>
                                </div>
                            </div>

                        </div>
                        <div class="table Content-wrapper" style="overflow-x:auto; scroll-behavior: auto;height: 350px;">
                            <table class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>App No.</th>
                                        <th>Index No.</th>
                                        <th>NIC</th>
                                        <th *ngFor="let m of headingTopic">{{m}}</th>
                                        <th>Overall Marks</th>
                                        <th>Status</th>
                                        <th>Remarks</th>
                                        <th>Page No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let m of markSheetData">
                                        <td>{{m.applicationNo}}</td>
                                        <td>{{m.indexNo}}</td>
                                        <td>{{m.nic}}</td>
                                        <td *ngFor="let m of m.componentsList">{{m.mark}}</td>
                                        <td>{{m.overallMark}}</td>
                                        <td>
                                            <select class="input-type form-control form-control-sm" name="status" id="{{m.uniqueId}}">
                        <option value="" disabled hidden selected>Select----------
                        </option>
                        <option *ngFor="let s of m.status" value={{s.id}} name="status" id="{{m.uniqueId}}{{s.id}}"
                          [selected]="getStatus(s.id)">
                          {{s.statusDescription}}
                        </option>
                      </select>
                                        </td>
                                        <td><input type="text" class="form-control-sm form-control input-type" [(ngModel)]="m.remark"></td>
                                        <td>{{m.pageNo}}</td>
                                    </tr>
                                    <tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 margine3" style="padding-bottom: 10px;">
                                <div class="row" [formGroup]="mainForm3">
                                    <div class="col-sm-3">
                                        <label>Entries &nbsp;</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select formControlName="Entries" name="Entries" class="form-control pointer form-control-sm" (change)="selectEntries($event.target.value)">
                      <option value="" disabled hidden selected>Select----------
                      </option>
                      <option *ngFor="let i of counter(entries); let y = index" value={{y+1}} name="Entries"
                        id="Entries">
                        {{y+1}}
                      </option>
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row btnMargin">
                        <div class="col-sm-12 text-rigth">
                            <button type="submit" class="btn btn-sm  btn-main" (click)="approve()">Approve</button>&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-sm btn-reset" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#success" class="trigger-btn" data-toggle="modal" hidden id="successmsg">Click to Open Confirm Modal</a>
<div id="success" class="modal fade">
    <div class="modal-dialog modal-confirm-pop">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">done</i>
                </div>
                <h4 class="modal-title w-100">Great!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">{{message}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>