<div class="container">
    <div class="row">

        <div class="col-12">
        <h4>Online Application</h4>
   </div>
</div>
   <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="Content-wrapper">
     
            <div class="row">
     
                <div class="col-12">
                  <h5>select programs</h5>
                  </div>
                </div>
           <div class="row">
             <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                
          
                    <div class="form-group">
            <label for="programme">Select Programme*</label>

            <div *ngIf = "this.userData">
                <select (change) = "submitData($event.target.value)"  class="form-control input-type form-control-sm" [(ngModel)]="programmeData" style="cursor: pointer;" required>
                    <option selected disabled>---------Select---------</option>
                    <option *ngFor="let user of userData" value={{user.id}}>
                        {{user.programStarted.program.code}}: {{user.programStarted.program.title}}
                    </option>
                </select>
            </div>
            </div>
       
            <!-- <button type="button" class="btn btn-secondary" (click)="submitData(program.value)">Submit</button> -->
        
</div>
</div>
</div>
      
    </div> <!-- end of educational Qualifications -->
    </div>
 <!-- end of container class-->
</div>