.alert-lg {
  padding: 0;
  background: none;
  border: none;
  font-size: 16px;
}

.alert-success {
  background-color: #f0fee6;
  border-color: #f0fee6;
  color: #308800;
}
.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 0;
}

.col-sm-10{
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
