<div class="container" *ngIf="showAdminBoard" >
    <div class="row">
        <div class="col-12">
            <h4>
                Document Verification
            </h4>
            <p class="small">
                Home > Document Verification
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-12">
            <div class="Content-wrapper mb-3">
                <div class="row">
                    <div class="col-12">
                        <h5>
                          Original Certification Verafication
                        </h5>
                    </div>
                </div>                     
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                <div class="form-group">
                            <label for="exampleFormControlSelect1">Faculty</label>
                            <select class="form-control input-type form-control-sm" id="exampleFormControlSelect1">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Department</label>
                            <select class="form-control input-type form-control-sm" id="exampleFormControlSelect1">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Program</label>
                            <select class="form-control input-type form-control-sm" id="exampleFormControlSelect1">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Center</label>
                            <select class="form-control input-type form-control-sm" id="exampleFormControlSelect1">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                            
                    </div>

              

<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                        

                        <div class="form-group">
                            <label for="applicant_id">Applicant ID</label>
                            <input type="text " class="form-control input-type form-control-sm" id="applicant_id"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="applicant_nic">Applicant NIC</label>
                            <input type="text " class="form-control input-type form-control-sm" id="applicant_nic"
                                placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="registration_number">Registration Number</label>
                            <input type="text " class="form-control input-type form-control-sm" id="registration_number"
                                placeholder="">
                        </div>
                        
</div>
    </div>

    <div class="col-12 text-right py-2">
        <button class="btn btn-sm btn-reset" type="submit">RESET</button>
        <button class="btn btn-sm  btn-main" type="submit">SEARCH</button>
</div>
</div>
</div>



    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-12">
        <div class="Content-wrapper">
                              
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="form-group">
                       <label for="Program">Program :</label>
                       <label for="Program_value"></label>

                </div>
                <div class="form-group">
                    <label for="Addmission">Admission Requirement :</label>
                    <label for="Addmission_value"></label>

             </div>
             </div>

<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                    

                        <div class="form-group">
                            <label for="Bsc">Bsc: </label>
                            <label for="Bsc_value"></label>
        
                     </div>

                     <div class="col-12 text-right py-2">
                     <button class="btn btn-sm btn-reset" type="submit">VIEW</button>
                    
                 </div>
                    
</div>
</div>

<div class="col-12 text-right py-2">
    <button class="btn btn-sm btn-reset" type="submit">RESET</button>
    <button class="btn btn-sm  btn-main" type="submit">SEARCH</button>
</div>
</div>
