<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <div class="tab">
                <div class="row" style="padding: 10px;">
                    <div class="col-12 col-sm-3 col-md-12 col-lg-12 col-xl-12" style="overflow-x:auto; scroll-behavior: auto;">
                        <table class="table">
                            <tr>
                                <th>Programme</th>
                                <th>Centre</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Exam Type</th>
                                <th>Selection Type</th>
                                <th>Admission Card/Instruction Page</th>
                            </tr>
                            <tr *ngFor="let program of programs;">
                                <td>{{ program.title }}</td>
                                <td>{{ program.entranceExamCenter }}</td>
                                <td>{{ program.examDate }}</td>
                                <td>{{ program.examTime }}</td>
                                <td>{{ program.examType }}</td>
                                <td>{{program.methodDescription}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" id="button1" *ngIf="program.examDate" (click)="firstComponentFunction(program.initialApplicant.id, program.initialApplicant.programStarted.programStartedId, program.methodId, program.fromHome);">Download</button>
                                    <button type="button" class="btn btn-warning" id="button1" *ngIf="program.examType == 'Online' && !program.examDate" [routerLink]="['/home/pick-entrance-exam-date']">Go To Select Entry Exam
                    Date</button>
                                    <button type="button" class="btn btn-warning" id="button1" *ngIf="program.examType == 'Onsite' && !program.examDate" [routerLink]="['/entrance_exam/pickExamCenter']">Go To Select Entry Exam
                    Centre</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
        </div>
    </div>
</div>

<a href="#myModal" class="trigger-btn" data-toggle="modal" hidden id="openModal"><i class="fa fa-heart"
    style="font-size:18px; color: red;"></i></a>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to download the admission? Once you have downloaded the admission, you can't change your Date, Time, Medium, and Centre.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="goToHome()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="open()" data-dismiss="modal">Download</button>
            </div>
        </div>
    </div>
</div>

<a href="#myModalf" class="trigger-btn" data-toggle="modal" hidden id="openModalfirst"><i class="fa fa-heart"
    style="font-size:18px; color: red;"></i></a>
<div id="myModalf" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box1">
                    <i class="material-icons" style="color: #5ef15e;">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger1 btn-block" data-dismiss="modal" (click)="open()">OK</button>
            </div>
        </div>
    </div>
</div>
<a href="#myModalf" class="trigger-btn" data-toggle="modal" hidden id="openModalerr"><i class="fa fa-heart"
  style="font-size:18px; color: red;"></i></a>
<div id="myModalf" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Oooops!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>