<header *ngIf="!spinnerOn" class="container">
    <nav class="navbar navbar-expand-lg " style="margin-left: auto; margin-right: auto;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo" href="https://www.ou.ac.lk">
            <div > <img src="../assets/Images/7.-OUSL.png" class="" alt="" width="45"> </div>
        </a>
        <div class="ousl-heading">
          <h1>The Open University of Sri Lanka</h1>
        </div>
    </nav>
</header>
<div *ngIf="!spinnerOn" class="container" >
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin-left: auto; margin-right: auto;">
            <div class="Content-wrapper">
                <div *ngIf="!spinnerOn" class="row">
                    <div class="col-12">
                        <h5>
                            Forgot your OUSL account password?
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form *ngIf="!spinnerOn" #data="ngForm" (ngSubmit)="onFormSubmit(data.value)">
                            <div class="form-group">
                                <label for="username">Username *</label>
                                <input type="text" id="username" name="username" [(ngModel)]="form.username" #username="ngModel"
                                    class="form-control input-type form-control-sm" placeholder="Username" required>

                            </div>
                            <div class="form-group">
                            <button [disabled]="!form.username" class="btn btn-sm  btn-continue" type="submit" >Go ahead</button>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
    <div *ngIf="spinnerOn" class="container" >
        <div class="row">
            <div class="Content-wrapper">
                <div id="spinner" class="col-6" style="margin-left: auto; margin-right: auto;">
                    <div id="spinner_content" class="col-6" style="margin-left: auto; margin-right: auto;">
                        <div class="form-group" style="margin-left: auto; margin-right: auto;">
                            <h2>Please wait...</h2>
                            <img src="assets/Images/spinner.gif"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<ng-template #emailWrong>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message from OUSL</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      {{errorMessage}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
  </ng-template>


  <ng-template #resetSuccessful>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message from OUSL</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      {{successMessage}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="modalRef.hide()" routerLink="/login" routerLinkActive="active">OK</button>
    </div>
  </ng-template>

  <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
