.modal-confirm {		
    color: #636363;
    width: 325px;
    font-size: 14px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
  }	
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }	
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm.modal-dialog {
    margin-top: 80px;
  }
  .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #e72020;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
  }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #f05b5b;
    outline: none;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }



  .modal-confirm-pop {		
    color: #636363;
    width: 325px;
    font-size: 14px;
  }
  .modal-confirm-pop .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm-pop .modal-header {
    border-bottom: none;   
    position: relative;
  }
  .modal-confirm-pop h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm-pop .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm-pop .close {
    position: absolute;
    top: -5px;
    right: -5px;
  }	
  .modal-confirm-pop .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }	
  .modal-confirm-pop .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #b1da1d;
  }
  .modal-confirm-pop .icon-box i {
    color: #b1da1d;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm-pop .modal-dialog {
    margin-top: 80px;
  }
  .modal-confirm-pop .btn {
    color: #fff;
    border-radius: 4px;
    background: #b1da1d;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    width: 30%;
  }
  .modal-confirm-pop .btn:hover, .modal-confirm-pop .btn:focus {
    background: #ebf742;
    outline: none;
  }
  .modal-confirm-pop .btn-x {
    color: #fff;
    border-radius: 4px;
    background: #b1da1d;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
  }
  .modal-confirm-pop .btn-x:hover, .modal-confirm-pop .btn-x:focus {
    background: #58cf54;
    outline: none;
  }

.text-header {
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    font-weight: bold;
}

.btn-main:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.btn-reset:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card-title
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
    margin-right: 0%;
    text-align: center;
}