<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="">
                <form [formGroup]="form" class="form shadow">
                    <div class="Content-wrapper">
                        <div class="header">
                            <h3 class="card-title">Programme bind to application</h3>
                        </div>
                        <div class="col-sm-12 mx-auto">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h3>Programme</h3>
                                    <input list="programs" class="form-control-sm form-control input-type col-5 mx-auto" name="programId" id="programId" (change)="programsClick($event.target.value)" [ngClass]="{'is-invalid':form.get('programId').touched && form.get('programId').invalid}">
                                    <datalist id="programs">
                                        <option value="" disabled selected>--select--
                                        <option *ngFor="let c of programs">{{c.programId}}-{{c.title}}
                                    </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 mx-auto">
                                    <h3>Personal Details</h3>
                                        <!-- radio -->
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="per_det" value="category_1" formControlName="per_det">
                                            <label class="form-check-label" (click)="personal_details_category_i()">Personal Details Category 1</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="per_det" value="category_2" formControlName="per_det">
                                            <label class="form-check-label" (click)="personal_details_category_ii()">Personal Details Category 2</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="per_det" value="category_3" formControlName="per_det">
                                            <label class="form-check-label" (click)="personal_details_category_iii()">Personal Details Category 3</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-sm-2">
                                    <h3>Program Details</h3>

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="prog_det" value="category_1" formControlName="prog_det">
                                            <label class="form-check-label" (click)="program_details_category_i()">Program Details Category 1</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="prog_det" value="category_2" formControlName="prog_det">
                                            <label class="form-check-label" (click)="program_details_category_ii()">Program Details Category 2</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="prog_det" value="category_3" formControlName="prog_det">
                                            <label class="form-check-label" (click)="program_details_category_iii()">Program Details Category 3</label>
                                        </div>
                                    </div>
                                </div>
 -->


                                <div class="col-sm-2 mx-auto">
                                    <h3>Educational Qualification</h3>
                                    <!-- radio -->
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_1" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_i()">Educational Qualification Category 1</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_2" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_ii()">Educational Qualification Category 2</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_3" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_iii()">Educational Qualification Category 3</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_4" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_iv()">Educational Qualification Category 4</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_5" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_v()">Educational Qualification Category 5</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_6" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_vi()">Educational Qualification Category 6</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_7" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_vii()">Educational Qualification Category 7</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="edu_qua" value="2category_8" formControlName="edu_qua">
                                            <label class="form-check-label" (click)="educational_qualification_category_viii()">Educational Qualification Category 8</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 mx-auto">
                                    <h3>Professional Qualification</h3>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pro_qua" value="3category_1" formControlName="pro_qua">
                                            <label class="form-check-label" (click)="professional_qualifications()">Professional Qualifications Category</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 mx-auto">
                                    <h3>Working Experience</h3>
                                    <div class="form-group">
                                        <input class="form-check-input" type="radio" name="work_exp" value="4category_1" formControlName="work_exp">
                                        <label class="form-check-label" (click)="working_experience()">Working Experience Category</label>
                                    </div>
                                </div>
                                <div class="col-sm-2 mx-auto">
                                    <h3>Applicant Type</h3>
                                    <div class="form-group">
                                        <select  class="input-type custom-select col-10" name="applicantTypeId" formControlName="applicantTypeId" [ngClass]="{'is-invalid':form.get('applicantTypeId').touched && form.get('applicantTypeId').invalid}">
                                            <option value="" disabled selected>--select--</option>
                                            <option *ngFor="let c of applicantTypes" value="{{c.id}}">{{c.description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right py-2">
                                    <button class="btn btn-sm  btn-main" (click)="register()" type="submit">SAVE</button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-reset" type="reset">RESET</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
        </div>
    <!--/.col (right) -->
    
    </div>
    
</div>
</div>
<!-- /.container-fluid -->

<a href="#errmm" class="trigger-btn" data-toggle="modal" hidden id="errxxx">Click to Open Confirm Modal</a>
<div id="errmm" class="modal fade">
  <div class="modal-dialog modal-confirm-pop">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">done</i>
        </div>
        <h4 class="modal-title w-100">Great!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{message}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="id">OK</button>
      </div>
    </div>
  </div>
</div>


<a href="#errdown" class="trigger-btn" data-toggle="modal" hidden id="downloadErrmsg">Click to Open Confirm Modal</a>
<div id="errdown" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Sorry!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">{{message}}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>