<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Please wait...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="Contant-wrapper">
                <img src="../../../assets/img/OP_logo.jpg" alt="" class="BackImage">
                <div class="wrapper">
                    <!-- Main content -->
                    <section class="admission  page">
                        <!-- <div class="watermark"></div> -->

                        <div>
                            <img src="../../../assets/img/OP_logo.jpg" style='float: left; padding-right: 30px; height: 100px;'>
                            <h1></h1>
                            <h1 class="bottom-one text-color ">The Open University of Sri Lanka <br> Selection Test Admission Form</h1>
                        </div>

                        <hr size="6" width="100%" color="black">
                        <div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="text-background left-one bottom-one">
                                        <h3 class="text-color">Programme details</h3>
                                    </div>
                                    <div class="text-background left-one bottom-one">
                                        <h6 class="text-color text-position">Programme of study: {{admission.programName}}</h6>
                                    </div>
                                    <div class="text-background left-one bottom-one">
                                        <h6 class="text-color text-position">Academic Year/Intake: {{admission.academicYear}}</h6>
                                    </div>

                                    <div class="text-background left-one bottom-one row">
                                        <div class="col-sm-4">
                                            <h6 class="text-color text-position margin-top">Index No: {{admission.indexNo}} </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-8">
                                        <qr-code [value]="qrValue" size="250" errorCorrectionLevel="M"></qr-code>
                                        <!-- <ngx-barcode [bc-width]="2" [bc-height]="80" [bc-value]="admission.indexNo" [bc-margin-top]="-10" [bc-margin-bottom]="-10" [bc-margin-left]="-10" [bc-margin-right]="-10" [bc-display-value]="false" style="position: absolute; bottom: -10px; left: -20px;">
                                </ngx-barcode> -->
                                    </div>
                                </div>
                            </div>

                            <div class="text-background left-one bottom-one row">
                                <div class="col-sm-4">
                                    <h6 class="text-color text-position">Study Centre: {{admission.center}}</h6>
                                </div>
                                <div class="col-sm-4 row">
                                    <h6 class="text-color text-position col-sm-5">Programme Medium:</h6>
                                    <h6 class="col-sm-2" *ngFor="let pm of admission.programMediums">{{pm.description}}</h6>
                                </div>
                                <div class="col-sm-4">
                                    <h6 class="text-color text-position">Selection Test Medium: {{admission.selectionTestMedium}}</h6>
                                </div>
                            </div>

                            <div class="text-background left-one bottom-one">
                                <h6 class="text-color text-center">Address of the Exam Centre</h6>
                            </div>
                            <div class="text-background left-one bottom-one">
                                <div class="example1">
                                    <p class="text-center">{{admission.addressOfExamCenter}}</p>
                                </div>
                            </div>

                            <div class="text-background left-one bottom-one">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 class="text-color text-center">Date of Examination</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="example2">
                                                    <p class="text-center">{{admission.examDate}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 class="text-color text-center">Time of Examination</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="example2">
                                                    <p class="text-center">{{admission.examTime}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <hr size="6" width="100%" color="black">
                        <div>
                            <div class="text-background left-one bottom-one">
                                <h3 class="text-color">Applicant Details</h3>
                            </div>

                            <div class="text-background left-one bottom-one row">
                                <div class="col-sm-4">
                                    <h6 class="text-color text-position">National ID/Passport No: {{admission.nic}}</h6>
                                </div>
                                <div class="col-sm-8">
                                    <!-- <ngx-barcode [bc-width]="2" [bc-height]="80" [bc-value]="admission.nic" [bc-margin-top]="-10" [bc-margin-bottom]="-10" [bc-margin-left]="-10" [bc-margin-right]="-10" [bc-display-value]="false" style="position: absolute; bottom: -10px; left:-30px;">
                            </ngx-barcode> -->
                                </div>
                            </div>
                            <div class="text-background left-one bottom-one">
                                <h6 class="text-color text-position">Name of Candidate with Initials: {{admission.fullName}}</h6>
                            </div>
                        </div>
                        <hr size="6" width="100%" color="black">



                        <div>
                            <div class="text-background left-one bottom-one">
                                <h3 class="text-color">ATTESTATION:</h3>
                                <p class="text-color">(Not Applicable to valid OUSL record book holder)</p>
                            </div>

                            <div class="text-background left-one bottom-one">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 class="text-color text-center">Signature of Candidate</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="example2">
                                                    <p class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-background left-one bottom-one">
                                <h6 class="text-color text-center">I certify that the above named candidate who is past pupil/teacher of my school/officer of my office/known to me personally placed his/her signature in my presence today.</h6>
                            </div>

                            <div class="text-background left-one bottom-one">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 class="text-color text-center">Date</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="example2">
                                                    <p class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h6 class="text-color text-center">Signature of Attestor</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="example2">
                                                    <p class="text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-color text-center">Name Designation/Status and address of Attestor and Rubber Stamp (if available)
                            </p>
                            <div class="text-background left-one bottom-one">
                                <div class="example3">
                                    <p class="text-center"></p>
                                </div>
                            </div>
                        </div>
                        <hr size="6" width="100%" color="black">
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>