<div id="Lange" class="Content-wrapper mb-3">
    <a class="closebtn" style="cursor: pointer;" (click)='callCloselang()'>&times;</a>
   
    <div class="row">
        <div class="col-12"> 
        <a (click)='english()' style="cursor: pointer;"> English  |</a>
        <a (click)='sinhala()' style="cursor: pointer;"> Sinhala  |</a>
        <a (click)='tamil()' style="cursor: pointer;"> Tamil  |</a>
    </div>
    </div>
    <div  class="row">
        <div class="col-12">
        
        
            <iframe [src]="imagepath" style="width: 100%;max-width: 95%;height:300px; min-height: 300px;"></iframe>
        
        </div>
        </div>
</div>
