<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>

<div  class="container" >

    <div class="row">
        <div class="col-12">
            <h4>
              Re-registration
            </h4>
            <p class="small">
                Home > Re-registration
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="Content-wrapper">
           <h3>Re-registration &nbsp;<span id="pastyear"></span>/<span id="year"></span>-Apply Studentship</h3>
           <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div >


    <div class="Content-wrapper" style="height: 70%;">

<div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <textarea style="width: 60%;height: 90%;">

        </textarea>

    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <table class="table">
            <th>
              Academic Year
            </th>

            <th>
              Payment (LKR)

            </th>
            <th>
              Description
              </th>

          <tbody>
            <tr *ngFor="let a of tableData;let i=index;">
                <td>{{a.academicYear}}</td>
                <td>{{a.amount}}</td>
                <td>{{a.Description}}</td>
            </tr>

        </tbody>
    </table>



    </div>


    </div>

   <p> <span>Pay {{amount}} to apply studentship for academic year </span> {{yearnow}}. </p>
<br>
  <div class="button-group">  <button  class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg" >Apply and make payment</button>
    &nbsp;
    <button class="btn btn-danger" (click)="navigate()">Exit</button>

</div>
<br>

</div>
<br>
</div>




                </div>
                </div>



        </div>




            </div>
            </div>
  </div>






<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <h3 style="text-align: center;">Attention !</h3>

<div style="text-align: center;"><h6>{{attentionMessage}}</h6> </div>


<div class="button-group" style="padding: 1%;">  <button  class="btn btn-success" data-toggle="modal" data-dismiss="modal" data-target=".bd-example-modal-lg" (click)="navigatepayment()">Apply and make payment</button>
    &nbsp;
    <button class="btn btn-danger" data-dismiss="modal">Exit</button>
</div>

  </div>
</div>
  </div>


  <a href="#myModal" class="trigger-btn" data-toggle="modal" hidden id="openModal"></a>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Ooops!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" routerLink="/home" routerLinkActive="active" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
