<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Please wait... This will take some time...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="Content-wrapper" style="padding-top: 0px;">
                <div (click)="onClickedOutside()" class="row">
                    <div class="col-sm-12" style="background-color: black; color: white; margin-left: auto; margin-right: auto; text-align: center;">
                        <h4 style="margin-left: auto; margin-right: auto;">Send Notifications</h4>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <br>
                <div class="row">
                <label for="qualification" class="col-sm-3 col-form-label"><b>Search By Student Type</b><b style="color: red;">*</b></label>
                <div class="col-sm-8 row" style="margin-top: 7px;" (change)="selectType($event.target.value)">
                  <div class="col-sm-4">
                      <div class="form-check">
                          <label class="form-check-label"><input class="form-check-input" type="radio" id="internalRadio"
                                  name="qualification"  value="All"
                                  >All Students</label>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-check">
                          <label class="form-check-label"><input class="form-check-input" type="radio"
                                  name="qualification"  value="RegCom" id="externalRadio"
                                  >Registration Completed Students</label>
                      </div>
                  </div>
                  </div>
                </div>
                <br>
                <form action="" [formGroup]="searchForm">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="" class="font-weight-bold">Programme</label>
                        </div>
                        <div class="col-sm-4">
                            <select name="" formControlName="program"  id="" [ngClass]="{'disableDiv': this.disableProgram}" class="form-control form-control-sm" (change)="onProgramme($event.target.value)">
                                <option value="">-select-</option>
                                <option value={{program.programStartedId}} *ngFor="let program of programStarted">{{program.program.title}} - {{program.programScheduleCode}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="!showFilterCode">
                        <div class="row" *ngIf="!isSearchingForAllStudents">
                            <div class="col-sm-2">
                                <label for="" class="font-weight-bold">Course Level</label>
                            </div>
                            <div class="col-sm-4">
                                <select name="" formControlName="level" id="" class="form-control form-control-sm" [ngClass]="{'disableDiv': this.disableLevel}" (change)="onLevel()">
                                    <option value="">-select-</option>
                                    <option value={{data}} *ngFor="let data of levels">{{data}}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row" *ngIf="!isSearchingForAllStudents">
                            <div class="col-sm-2">
                                <label for="" class="font-weight-bold">Course</label>
                            </div>
                            <div class="col-sm-4">
                                <select name="" formControlName="course" id="" class="form-control form-control-sm" [ngClass]="{'disableDiv': this.disableCourse}" (change)="onCourse()">
                                    <option value="">-select-</option>
                                    <option value={{data.id}} *ngFor="let data of courses">{{data.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showFilterCode">
                        <div class="row" *ngIf="!isSearchingForAllStudents">
                            <div class="col-sm-2">
                                <label for="" class="font-weight-bold">Course</label>
                            </div>
                            <div class="col-sm-4">
                                <div style="display: flex;">
                                    <input #Code type="text" formControlName="courseCode" [(ngModel)]="codeValue" (keyup)="onCode($event,Code.value)" class="form-control form-control-sm">
                                </div>
                                <div style="position: absolute; z-index: 5;">
                                    <div *ngIf="showDiv" class="scroller-fordiv">
                                        <div *ngFor="let code of codes"  class="dropdown-content">
                                            <ul class="list-group">
                                                <li (click)="codeSelect(code.code)" class="list-group-item">
                                                {{code.code}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary"  (click)="onSearch()">Refresh</button>
                    </div>
                </form>
                <br>
                <br>
                <br>
                <div *ngIf="finalArray.length!=0">
                    <div class="white-space">
                      <div class="row pull-right" style="margin-right: 20px;"><input style="margin-left: 8px;" type="checkbox"
                        id="{{'checkboxSelectAll'}}" value={{0}} (change)="selectAll($event.target.value, $event.target.checked)"><b> Select All </b></div>
                        <table id="programs">
                          <caption>Students count - {{finalArray.length}}</caption>
                            <tr>
                                <th *ngIf="!isSearchingForAllStudents">Programme</th>
                                <th>Registration Number</th>
                                <th *ngIf="!isSearchingForAllStudents">Student Id</th>
                                <th>First Name</th>
                                <th>Nic</th>
                                <th>Email</th>
                                <th>Mobile No</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngFor="let tableData of finalArray; let i=index">
                                <td *ngIf="!isSearchingForAllStudents">{{tableData.program}}</td>
                                <td>{{tableData.regNumber}}</td>
                                <td *ngIf="!isSearchingForAllStudents">{{tableData.studentId}}</td>
                                <td>{{tableData.firstName}}</td>
                                <td>{{tableData.nic}}</td>
                                <td>{{tableData.email}}</td>
                                <td>{{tableData.ouslEmail}}</td>
                                <td><div class="row"><input style="margin-left: 8px;" type="checkbox"
                                  id="{{'checkbox' + tableData.regNumber}}" value={{tableData.regNumber}} (change)="selectApplicant($event.target.value, $event.target.checked)"><b> Select </b></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="finalArray.length==0&&show">
                    <h1 style="text-align: center;">No Results Found</h1>
                </div>
                <br>

                <div *ngIf="selectedApplicants.length!=0 && !isSelectAllChecked">
                  <div class="white-space">
                      <table id="programs">
                        <caption>Selected students count - {{selectedApplicants.length}}</caption>
                          <tr>
                              <th *ngIf="!isSearchingForAllStudents">Programme</th>
                              <th>Registration Number</th>
                              <th *ngIf="!isSearchingForAllStudents">Student Id</th>
                              <th>First Name</th>
                              <th>Nic</th>
                              <th>Email</th>
                              <th>Mobile No</th>
                          </tr>
                          <tr *ngFor="let tableData of selectedApplicants">
                              <td *ngIf="!isSearchingForAllStudents">{{tableData.program}}</td>
                              <td>{{tableData.regNumber}}</td>
                              <td *ngIf="!isSearchingForAllStudents">{{tableData.studentId}}</td>
                              <td>{{tableData.firstName}}</td>
                              <td>{{tableData.nic}}</td>
                              <td>{{tableData.email}}</td>
                              <td>{{tableData.ouslEmail}}</td>
                          </tr>
                      </table>
                  </div>
              </div>
              <div class="row" *ngIf="selectedApplicantIds.length > 0">
                <label  for="qualification1" class="col-3 col-sm-3"><b>Select a message sending method</b><b style="color: red;">*</b></label>
                <div  class="col-sm-9 row" style="margin-top: 7px;" (change)="selectMethod($event.target.value)">
                  <div class="col-sm-3">
                      <div class="form-check">
                          <label class="form-check-label"><input class="form-check-input" type="radio" id="internalRadio"
                                  name="qualification1" formControlName="qualification1" value="Noti"
                                  >Send Notification</label>
                      </div>
                  </div>
                  <div  class="col-sm-3">
                      <div class="form-check">
                          <label class="form-check-label"><input class="form-check-input" type="radio"
                                  name="qualification1" formControlName="qualification1" value="email" id="externalRadio"
                                  >Send Email</label>
                      </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-check">
                        <label class="form-check-label"><input class="form-check-input" type="radio"
                                name="qualification1" formControlName="qualification1" value="sms" id="allRadio"
                                >Send SMS</label>
                    </div>
                </div>
              </div>
              </div>
              <br>
              <div *ngIf="notification || email || sms">
                <div>
                  <h6 style="color: red; margin-left: 25px;"> ** Note - Maximum number of characters that can be enterted = {{maxLength}} **</h6>
                </div>
              </div>
              <div class="form-group" *ngIf="notification || email || sms">
                <label for="applicationNo" style="color: blue;"> <b> Type your message here</b></label>
                <div class="input-group" style="height: 100px">
                  <textarea maxlength="{{maxLength}}" cols="30" type="text" class="input-type col-sm-10 form-control form-control-sm" id="applicationNo"
                            placeholder="Dear Student," name="applicationNo" [(ngModel)]="messageToStudent"> </textarea>
                </div>
              </div>
              <br>
              <div class="row" *ngIf="notification || email || sms" style="padding: 5px">
                <div class="col-sm-12 text-center py-2">
                  <button  type="submit" id="addDataToDB" class="btn  btn-main" [disabled]="messageToStudent == ''" (click)="sendMessage()">Send</button>&nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <br>
            </div>
        </div>
    </div>
</div>


<a href="#myModal" class="trigger-btn" data-toggle="modal" hidden id="openModal"></a>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Ooops!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<a href="#successModal" class="trigger-btn" data-toggle="modal" hidden id="sucModal"></a>
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box-success">
          <i class="fa fa-check"></i>
        </div>
        <h4 class="modal-title w-100">Great!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-outline-dark" data-dismiss="modal"
      >OK</button>
      </div>
    </div>
  </div>
</div>
