<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>

<div *ngIf="this.show" id=main class="container" >
    <div class="row">
        <div class="col-12">
            <h4>
            Re-Registration
            </h4>
            <p class="small">
                Home > Re-Registration
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- <h6>Created Payment Details</h6> -->
            <div class="Content-wrapper">
            <div  class="Content-wrapper mb-3">
              <div class="row">
                  <div class="col-12">
                    <ul class="nav nav-tabs">
                      <li class="active"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">

                        <h6>Re-Registartion
                      </h6></a></li>


                    </ul>

                  </div>
              </div>
            </div>







              <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h4>Re-Registartion list</h4>
                  <div  class="Content-wrapper">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Programme</th>
                                <th scope="col">Action Required</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let a of programstudentshipfilter;let i=index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{a.initialApplicant.programStarted.program.title}}</td>
                                <td><button hidden type="button" class="btn btn-success btn-sm"  (click)="courseselection()">Course Selection</button>
                                  &nbsp;<button type="button" class="btn btn-success btn-sm" (click)="studentship(a.initialApplicant.id)">Studentship</button>
                                  &nbsp;<button hidden type="button" class="btn btn-success btn-sm" (click)="counselling(a.initialApplicant.id)">Counselling</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
                </div>


              </div>

  </div>



        </div>
    </div>
  </div>




