<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 mx-auto">
                <div class="card Content-wrapper">
                    <form class="form-horizontal" [formGroup]="form">
                        <div class="card-body">
                            <div class="header">
                                <h1 class="header-text text-center">Create Groups</h1>
                            </div>
                        <br>
                            <div class="col-sm-12 mx-auto">
                                <div class="form-group row">
                                    <label for="programme" class="col-sm-5 col-form-label">Enter Programme<b style="color: red;">*</b></label>
                                    <div class="col-sm-5">
                                        <select class="form-control-sm form-control input-type col-sm-10" name="programme" formControlName="programme" (change)="getAllDataDependOnProgram($event.target.value)">
                                            <option value="" disabled hidden selected>----------Select----------</option>
                                            <option *ngFor="let c of programs" value="{{c.programStartedId}}">{{c.title}}: {{c.acyYear}}: batch{{c.batch_no}}</option>

                                        </select>
                                    </div>
                                    <span class="text-danger" *ngIf="f.programme.touched && f.programme.invalid">
                                        <div *ngIf="f.programme.errors.required">Programme is required.</div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label for="specialization" class="col-sm-5 col-form-label">Specialization/Discipline/Stream<b style="color: red;">*</b></label>
                                    <div class="col-sm-5">
                                        <select class="form-control-sm form-control input-type col-sm-10" name="specialization" formControlName="specialization">
                                            <option value="" disabled hidden selected>----------Select----------</option>
                                            <option *ngFor="let s of specialization" value="{{s.specilization.id}}">{{s.specilization.description}}</option>
                                            <option *ngFor="let s of discipline" value="{{s.discipline.id}}">{{s.discipline.description}}</option>
                                            <option *ngFor="let s of stream" value="{{s.stream.id}}">{{s.stream.description}}</option>
                                        </select>
                                    </div>
                                    <span class="text-danger" *ngIf="f.specialization.touched && f.specialization.invalid">
                                        <div *ngIf="f.specialization.errors.required">Specialization/Discipline/Stream is required.</div>
                                    </span>
                                </div>
                                <div class="form-group row">
                                    <label for="course" class="col-sm-5 col-form-label">Enter Course<b style="color: red;">*</b></label>
                                    <div class="col-sm-5">
                                        <select class="form-control-sm form-control input-type col-sm-10" name="course" formControlName="course">
                                            <option value="" disabled hidden selected>----------Select----------</option>
                                            <option *ngFor="let c of course" value="{{c.course_id}}">{{c.title}}</option>
                                        </select>
                                    </div>
                                    <span class="text-danger" *ngIf="f.course.touched && f.course.invalid">
                                        <div *ngIf="f.course.errors.required">Course is required.</div>
                                    </span>
                                </div>
                                <div class="form-group row">
                                    <label for="center" class="col-sm-5 col-form-label">Select Center<b style="color: red;">*</b></label>
                                    <div class="col-sm-5">
                                        <select (change)="myCenterChange($event.target.value)" class="form-control-sm form-control input-type col-sm-10" name="center" formControlName="center">
                                            <option value="" disabled hidden selected>----------Select----------</option>
                                            <option *ngFor="let c of center" value="{{c.cnt_center_id}}">{{c.cnt_description}}</option>
                                         
                                         </select>
                                    </div>
                                    <span class="text-danger" *ngIf="f.center.touched && f.center.invalid">
                                        <div *ngIf="f.center.errors.required">Center is required.</div>
                                    </span>
                                </div>

                                <div class="form-group row">
                                    <label for="medium" class="col-sm-5 col-form-label">Select Medium<b style="color: red;">*</b></label>
                                    <div class="col-sm-5">
                                        <select (change)="myMediumChange($event.target.value)" class="form-control-sm form-control input-type col-sm-10" name="medium" formControlName="medium">
                                            <option value="" disabled hidden selected>----------Select----------</option>
                                            <option *ngFor="let c of medium" value="{{c.med_medium_id}}">{{c.med_description}}</option>
                                         </select>
                                    </div>
                                    <span class="text-danger" *ngIf="f.medium.touched && f.medium.invalid">
                                        <div *ngIf="f.medium.errors.required">Medium is required.</div>
                                    </span>
                                </div>


                                
                                <!-- important -->        
                                <div> 
                                    <div class="form-group row">
                                        <label for="groupName" class="col-sm-5 col-form-label">Group Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control-sm form-control input-type col-sm-5" name="groupName" formControlName="groupName" value={{GroupData.groupName}} [ngModel]="groupName">
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="groupCount" class="col-sm-5 col-form-label">Group Count</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control-sm form-control input-type col-sm-5" name="groupCount" formControlName="groupCount" value={{GroupData.groupCount}}>
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="groupCapacity" class="col-sm-5 col-form-label">Group Capacity</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control-sm form-control input-type col-sm-5" name="groupCapacity" formControlName="groupCapacity" value={{GroupData.groupCapacity}}>
                                        </div>
                                    </div>
                                    <form class="form-horizontal" [formGroup]="myForm">
                                        <div class="form-group row">
                                            <label for="expandGroup" class="col-sm-5 col-form-label">Expand Group</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control-sm form-control input-type col-sm-5" name="expandGroup" formControlName="expandGroup">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="row" style="padding: 5px">
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-main1 btn-sm" (click)="expand()">Expand</button>&nbsp;&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-main btn-sm" (click)="submit()">Create</button>&nbsp;&nbsp;&nbsp;
                                        <button type="submit" class="btn btn-main2 btn-sm" data-toggle="modal" data-target="#modal-secondary" id="errxxx">Group Setting</button>&nbsp;&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-reset btn-sm" (click)="exit()">Exit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- GROUP SETTINGS -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-secondary" id="errxxx" hidden>
    Launch Secondary Modal
  </button>

  <div class="modal fade" id="modal-secondary">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
              <h4 class="modal-title">GROUP SETTINGS</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
    
            
            <div class="modal-body">
                <form [formGroup]="settingForm">
                    <!-- <div hidden>
                        <div class="form-group row">
                            <label for="programme" class="col-sm-5 col-form-label">Programme</label>
                            <div class="col-sm-5">
                                <label for="programme" class="col-sm-5 col-form-label">Programme</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="specialization" class="col-sm-5 col-form-label">Specialization</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control-sm form-control input-type" id="specialization" formControlName="specialization" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="course" class="col-sm-5 col-form-label">Course</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control-sm form-control input-type" id="course" formControlName="course" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="center" class="col-sm-5 col-form-label">Center</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control-sm form-control input-type" id="center" formControlName="center" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="medium" class="col-sm-5 col-form-label">Medium</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control-sm form-control input-type" id="medium" formControlName="medium" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="groupName" class="col-sm-5 col-form-label">Group Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control-sm form-control input-type" id="groupName" formControlName="groupName" >
                            </div>
                        </div>
                    </div> -->
                    
    
    
    
                    
    
                    <div class="form-group row">
                        <label for="groups" class="col-sm-5 col-form-label">Enter Group(s)</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control-sm form-control input-type" id="groups" formControlName="groups" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="offeringType" class="col-sm-5 col-form-label">Offering Type</label>
                        <div class="col-sm-5">
                            <select class="form-control-sm form-control input-type col-sm-12" name="offeringType" formControlName="offeringType" required>
                                <option value="" disabled selected>----------Select----------</option>
                                <option *ngFor="let ot of offeringTypes" value="{{ot.offOfferingTypeId}}">{{ot.offDescription}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dayType" class="col-sm-5 col-form-label">Day Type</label>
                        <div class="col-sm-5">
                            <select class="form-control-sm form-control input-type col-sm-12" name="dayType" formControlName="dayType" required>
                                <option value="" disabled selected>----------Select----------</option>
                                <option *ngFor="let dt of dayTypes" value="{{dt.dayDayTypeId}}">{{dt.dayDescription}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expandCapacity" class="col-sm-5 col-form-label">Expand Capacity</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control-sm form-control input-type" id="expandCapacity" formControlName="expandCapacity" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hiddenGroup" class="col-sm-5 col-form-label">Hidden Group</label>
                        <div class="col-sm-5">
                            <input type="checkbox" class="input-type" id="hiddenGroup" formControlName="hiddenGroup" required>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="reset" class="btn btn-reset btn-sm">Clear</button>
                        <button type="button" class="btn btn-main btn-sm" (click)="saveGroupSetting()">Save</button>
                    </div>
                </form>
            </div>
                
            
    
        </div>
    </div>
</div>



<!-- success modals -->
<a href="#errmm" class="trigger-btn" data-toggle="modal" hidden id="success">Click to Open Confirm Modal</a>
<div id="errmm" class="modal fade">
  <div class="modal-dialog modal-confirm-pop">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">done</i>
        </div>
        <h4 class="modal-title w-100">Great!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p class="text-center">{{message}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="id">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- error modal -->
<a href="#errdown" class="trigger-btn" data-toggle="modal" hidden id="error">Click to Open Confirm Modal</a>
<div id="errdown" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Sorry!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">{{message}}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>