<!---------------------------Educational Qualification details-------------------------->

<div class="container view-aplication-block">
    <div class="text-center heading">
        <h3>View Professional details</h3>
    </div>

    <div style="height: 100%;margin-bottom: 10px;">

        <div>
            <div class="qualification-block">

                <div class="qualification-list row">
                    <div class="qualification-table col-sm-9">
                        <table class="table table-bordered table-fixed" id=acQualificationTable>
                            <thead>
                                <tr>
                                    <th>Qualification</th>
                                    <th>Institution</th>
                                    <th>Effective Date</th>
                                    <th>Duration(Year)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let qualification of qualifications">
                                    <td id="qualification">{{qualification.qualification}}</td>
                                    <td id="institution">{{qualification.institution}}</td>
                                    <td id="edate">{{qualification.edate}}</td>
                                    <td id="duration">{{qualification.duration}}</td>
                                    <td>
                                        <button type="button" (click)="OpenEdit(edit, qualification.id)"> <span
                                                class="fa fa-edit"></span></button>

                                        <!-- Edit form popup-->
                                        <ng-template #edit>
                                            <div class="modal-header">
                                                <h4 class="modal-title pull-left">Edit Professional</h4>
                                                <button type="button" class="close pull-right" aria-label="Close"
                                                    (click)="modalRef.hide()">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form #form="ngForm" (ngSubmit)="Update(qualification.id, data2)">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <label for="qualification">Qualification:</label>
                                                        <input type="text"
                                                            class="form-control input-type form-control-sm"
                                                            id="qualification" value="editqualification"
                                                            [(ngModel)]="data2.qualification" name="qualification">
                                                    </div>
                                                    <div class="row">
                                                        <label for="institution">Institution:</label>
                                                        <input type="text"
                                                            class="form-control input-type form-control-sm"
                                                            id="institution" value=editinstitution
                                                            [(ngModel)]="data2.institution" name="institution">
                                                    </div>
                                                    <div class="row">
                                                        <label for="edate">Effective Date:</label>
                                                        <input type="date"
                                                            class="form-control input-type form-control-sm" id="edate"
                                                            value=editdate [(ngModel)]="data2.edate" name="edate"
                                                            #edate="ngModel">
                                                    </div>
                                                    <div class="row">
                                                        <label for="duration">Duration:</label>
                                                        <input type="text"
                                                            class="form-control input-type form-control-sm"
                                                            id="duration" value=editduration
                                                            [(ngModel)]="data2.duration" name="duration">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark"
                                                        (click)="modalRef.hide()">Cancle</button>
                                                    <button type="submit" class="btn btn-outline-dark">Update</button>
                                                </div>
                                            </form>
                                        </ng-template>
                                        <!-- end of edit form popup-->

                                        <button type="button" (click)="openDelete(deletedata)"> <span
                                                class="fa fa-trash"></span></button>

                                        <!-- delete confirmation pop up-->
                                        <ng-template #deletedata>
                                            <div class="modal-header">
                                                <h4 class="modal-title pull-left">Delete</h4>
                                                <button type="button" class="close pull-right" aria-label="Close"
                                                    (click)="modalRef.hide()">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete the record?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark"
                                                    (click)="modalRef.hide()">Cancle</button>
                                                <button type="button" class="btn btn-outline-dark"
                                                    (click)="delete(qualification.id)">Delete</button>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--certficate list div-->
                    <div class="col-sm-3">
                        <div class="certificate-list">
                            <p>Professional Certificates</p>
                            <div class="certificate-list-name">
                                <p  *ngFor="let certificate of certificatesProfessional">
                                    {{certificate.certificateName}}
                                    <button type="button" (click)="deleteCertificatesProfessional(certificate.id)" class="remove">
                                        <span class="fa fa-close"></span></button>
                                </p>
                            </div>
                        </div> <!-- end of certificate list class-->
                    </div>
                </div> <!-- end of qualification list table class-->

            </div> <!-- end of qualification class-->

        </div> <!-- end of qualification class-->
    </div> <!-- end of educational Qualifications -->
</div> <!-- end of container class-->

<!------------------------pop up------------------->
<!-- delete successful msg-->
<ng-template #deleteok>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Record is successfully deleted.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<!-- edit sucessful msg-->
<ng-template #editok>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Record is edited successfully.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<!-- fill mandatory-->
<ng-template #fillMandatory>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="fillRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Please fill the mandatory fields.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="fillRef.hide()">OK</button>
    </div>
</ng-template>