<div id="" class="container" style="width: 60%;">
    <div id="" class="m" >
      
      <div id="pdfp" class="inside" #pdfp>
        
       
            <img src="../../../../assets/img/OUSL_logo.png" alt="" class="BackImage">
            <div style="align-items: center;">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <img src="../../../../assets/img/OP_logo.jpg" style='padding-right: 10px; height: 90px;margin-top: 0px;'>
                </div>
                <div class="col-md-10 col-sm-10">
                  <h3 class=" text-color " style="font-family: 'Times New Roman', Times, serif;"><b>The Open University of Sri Lanka. <br> Online Application Print Copy</b></h3>
                </div>
              </div>
             
             
            </div>
            <hr size="6" width="100%" color="black">
            <div class="up" id="editor">
              <div class="text-background left-one ">
                <h4 class="text-color">Programme details</h4>
              </div>
              <div class="text-background left-one ">
                <h6 class="text-color text-position">Programme of study: {{admission.programName}}</h6>
              </div>
              <div class="text-background left-one">
                <h6 class="text-color text-position">Academic Year/Intake: {{admission.academicYear}}</h6>
              </div>
      
              <div class="text-background left-one row">
                <div class="col-md-8">
                  <h6 class="text-color text-position margin-top">Application Number/Index No: {{admission.indexNo}} </h6>
                </div>
     
              </div>
      
              <div class="text-background row">
                <div class="col-md-4">
                  <h6 class="text-color text-position">Study Centre: {{admission.center}}</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="text-color left-one row">Programme Medium:{{admission.center}}</h6>
                  <!-- <h6 class="col-sm-2" *ngFor="let pm of admission.programMediums">{{pm.description}}</h6> -->
                </div>
              </div>
  
              <div class="text-background left-one row">
                <div class="col-md-6">
                  <h6 class="text-color text-position">Date and Time Applied:{{admission.center}}</h6>
                </div>
                
              </div>
      
            </div>
      
            <hr size="6" width="100%" color="black">
            <div>
              <div class="text-background left-one">
                <h4 class="text-color">Applicant Details</h4>
              </div>
      
              <div class="text-background left-one row">
                <div class="col-md-4">
                  <h6 class="text-color text-position">National ID No.: {{admission.nic}}</h6>
                </div>
  
              </div>
  
  
              <div class="text-background left-one">
                <h6 class="text-color text-position">Name with initials of Candidate: {{admission.fullName}}</h6>
              </div>
            </div>
  
            <div class="text-background left-one row">
              <div class="col-md-4">
                <h6 class="text-color text-position">Address : {{admission.nic}}</h6>
              </div>
  
            </div>
  
            <div class="text-background left-one row">
              <div class="col-md-4">
                <h6 class="text-color text-position">Date of Birth : {{admission.nic}}</h6>
              </div>
              <div class="col-md-4">
                <h6 class="text-color text-position">Gender : {{admission.nic}}</h6>
              </div>
  
            </div>
            <div class="text-background left-one row">
              <div class="col-md-4">
                <h6 class="text-color text-position">Mobile : {{admission.nic}}</h6>
              </div>
  
              <div class="col-md-4">
                <h6 class="text-color text-position">Fixed Line : {{admission.nic}}</h6>
              </div>
  
            </div>
  
            <div class="text-background left-one row">
              <div class="col-md-4">
                <h6 class="text-color text-position">Email : {{admission.nic}}</h6>
              </div>
  
            </div>
  
            <hr size="6" width="100%" color="black">
      
            
            
            <div>
              <br>
              
              <div class="text-background left-one ">
                <h4 class="text-color">G.C.E A/L</h4>
              </div>
    <br>
              <div class="text-background left-one ">
                <h4 class="text-color">Work Experience</h4>
              </div>
    <br>
              <div class="text-background left-one ">
                <h4 class="text-color">Other Qualifications</h4>
                <label for=""></label>
                
              </div>
            </div>
            <!-- <div>
              <div class="btm text-background left-one bottom-one">
              
                <h4 style="margin-bottom: 150px;" class="text-color">asdd</h4>
                
              
              
            </div>
            </div>
            -->
            
        
      
      </div>
     
    </div>
  </div>
  <!-- <button style="position: absolute;" (click)="generate()">Click</button> -->
  <br>
  