<div *ngIf="!spinnerOn" class="container">
	<div class="row">
	<div class="col-12">
	  <h4>Application  <a (click)='callopen()'> <fa-icon [icon]="faInfoCircle" style="color:orange; width: 100px;cursor: pointer;" ></fa-icon> </a></h4>
	  <p class="small">
	   Home > User Application  </p>
	  </div>
	</div>
	<div class="row" *ngIf="forShowInput">
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-2">
					<label for="">Initial Applicant NIC</label>
				</div>
				<div class="col-sm-5">
					<input  type="text" [(ngModel)]="nicValue"  class="form-control form-control-sm" (keyup)="onNic($event.target.value)" >
					<div style="position: absolute; z-index: 5; ">
						<div *ngIf="showNic" class="scroller-fordiv">
						  <div *ngFor="let nic of initialApplicantNic"  class="dropdown-content">
							<ul class="list-group">
							  <li (click)="nicSelect(nic)" class="list-group-item">
								{{nic}}
							  </li> 
							</ul>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-primary" (click)="nicSearch()">Search</button>
				</div>
			</div>	
		</div>
	</div>
	<br>
<div class="row" *ngIf="forShowForm">
<div class="col-md-10 col-sm-12">
<form [formGroup]="ApplicationForm" #myForm="ngForm" name="abc" (ngSubmit)="submit()">

	<div class="outbound">

		<h3 class="p-3 mb-2 bg-white text-info" style="border-radius: 5px;">Online Application Form</h3>

		<p style="color: black;padding: 5px;">Choose Your Study Programme, Preferred Centre and Medium of Study.</p>



		<div class="tbl1">
			<!-- <div id="first" class="row" style="padding-left: 0px;">
				<div class="col-sm-6">
					<label class="font_default font_regular radiolable" for="">Applicant type<span
							class="astric">*</span></label>
				</div>
				<div class="col-sm-6">
					<div *ngFor="let app of applicanttype" style="display: inline-block;padding: 8px;">
						<input type="radio" value="{{app.id}}" name="apptype" formControlName="apptype"
							(change)="onSelectapptype()">
						{{app.description}}
					</div>
				</div>
			</div> -->


			<div class="row">
				<div class="col-sm-6"><label for="">Study Programme<span class="astric">*</span></label></div>
				<div class="col-sm-6"> <select class="form-control dropdown_menu" value="" formControlName="programid"
						id="pname" (change)="onSelectPrgrm();"
						[ngClass]="{ 'is-invalid': a.programid.touched && a.programid.errors }" required>
						<option value=-1>--Select--</option>
						<option value="{{program.programStartedId}}" *ngFor='let program of forFilterProgramStarted'>
							{{program.program.title}}</option>
					</select>
					<div *ngIf=" a.programid.errors" class="invalid-feedback">
						<div *ngIf="a.programid.errors.required">Please Select a Programme</div>
						<div *ngIf="a.programid.errors.selectederror">Please Select a Programme</div>
					</div>
				</div>
			</div>

			<div class="row" *ngIf="isSpezavailable">
				<div class="col-sm-6"> <label for="">Specalization<span class="astric">*</span></label></div>
				<div class="col-sm-6">
					<select class="form-control dropdown_menu" formControlName="specilizationid" id="spezas"
						(change)="onSelectSpez();" [disabled]="spezdisable"
						[ngClass]="{ 'is-invalid': a.specilizationid.touched && a.specilizationid.errors }" required>
						<option value=-1>--Select--</option>
						<option value="{{spez.programspecilizationid}}" *ngFor='let spez of prgspecilization'>
							{{spez.specilization.description}}
						</option>
					</select>
					<div *ngIf=" a.specilizationid.errors" class="invalid-feedback">
						<div *ngIf="a.specilizationid.errors.required">Please Select a Specilization</div>
						<div *ngIf="a.specilizationid.errors.selectederror">Please Select a Specilization</div>

					</div>
				</div>
			</div>



<div *ngIf="isCancel">
	<div  class="disableDiv row">
		<div class="col-sm-6"><label for=""> Preferred Academic Centre<span class="astric">*</span>
		<span class="d-inline-block tooltips" data-placement="top" tabindex="0" data-toggle="tooltip" title="The Centre where you will carry out your Academic Activities">
			<img src="../../../../assets/Images/helpicon.png" style="height: 15px;"></span></label></div>
		<div class="col-sm-6">
			<select class="form-control dropdown_menu" formControlName="academiccenterid" id="ac"
				(change)="onSelectPac();" [disabled]="pacdisable"
				[ngClass]="{ 'is-invalid': a.academiccenterid.touched && a.academiccenterid.errors }" required>
				<option value=-1>--Select--</option>
				<option value="{{pref.programstartedacademiccenterid}}" *ngFor='let pref of preferedAcenter'>
					{{pref.cnt_center.cnt_description}}
				</option>
			</select>
			<div *ngIf=" a.academiccenterid.errors" class="invalid-feedback">
				<div *ngIf="a.academiccenterid.errors.required">Please Select a Academic Centre</div>
				<div *ngIf="a.academiccenterid.errors.selectederror">Please Select a Academic Centre</div>

			</div>
		</div>
	</div>
</div>

<div *ngIf="!isCancel">
	<div  class="row">
		<div class="col-sm-6"><label for=""> Preferred Academic Centre<span class="astric">*</span>
		<span class="d-inline-block tooltips" data-placement="top" tabindex="0" data-toggle="tooltip" title="The Centre where you will carry out your Academic Activities">
			<img src="../../../../assets/Images/helpicon.png" style="height: 15px;"></span></label></div>
		<div class="col-sm-6">
			<select class="form-control dropdown_menu" formControlName="academiccenterid" id="sss"
				(change)="onSelectPac();" [disabled]="pacdisable"
				[ngClass]="{ 'is-invalid': a.academiccenterid.touched && a.academiccenterid.errors }" required>
				<option value=-1>--Select--</option>
				<option value="{{pref.programstartedacademiccenterid}}" *ngFor='let pref of preferedAcenter'>
					{{pref.cnt_center.cnt_description}}
				</option>
			</select>
			<div *ngIf=" a.academiccenterid.errors" class="invalid-feedback">
				<div *ngIf="a.academiccenterid.errors.required">Please Select a Academic Centre</div>
				<div *ngIf="a.academiccenterid.errors.selectederror">Please Select a Academic Centre</div>

			</div>
		</div>
	</div>
</div>

<div *ngIf="isCancel">			
	<div class="disableDiv row">
	<div class="col-sm-6"> <label for="">Preferred Medium of Study<span class="astric">*</span></label></div>
	<div class="col-sm-6">
		<select (change)="getmedium($event)" class="form-control dropdown_menu"
			formControlName="med_mediumId" id="med" [disabled]="smdisable"
			[ngClass]="{ 'is-invalid': a.med_mediumId.touched && a.med_mediumId.errors }" required>
			<option value=-1>--Select--</option>
			<option value="{{program.med_medium.med_mediumId}}" *ngFor='let program of CenterMedium'>
				{{program.med_medium.med_description}}</option>
		</select>
		<div *ngIf=" a.med_mediumId.errors" class="invalid-feedback">
			<div *ngIf="a.med_mediumId.errors.required">Please Select a Medium</div>
			<div *ngIf="a.med_mediumId.errors.selectederror">Please Select a Medium</div>

		</div>
	</div>
</div>
</div>
<div *ngIf="!isCancel">			
	<div class="row">
	<div class="col-sm-6"> <label for="">Preferred Medium of Study<span class="astric">*</span></label></div>
	<div class="col-sm-6">
		<select (change)="getmedium($event)" class="form-control dropdown_menu"
			formControlName="med_mediumId" id="med" [disabled]="smdisable"
			[ngClass]="{ 'is-invalid': a.med_mediumId.touched && a.med_mediumId.errors }" required>
			<option value=-1>--Select--</option>
			<option value="{{program.med_medium.med_mediumId}}" *ngFor='let program of CenterMedium'>
				{{program.med_medium.med_description}}</option>
		</select>
		<div *ngIf=" a.med_mediumId.errors" class="invalid-feedback">
			<div *ngIf="a.med_mediumId.errors.required">Please Select a Medium</div>
			<div *ngIf="a.med_mediumId.errors.selectederror">Please Select a Medium</div>

		</div>
	</div>
</div>
</div>






		</div>



		<div>

			<div class="quali" [hidden]="expandhdn1">
				<p style="color: black;padding: 5px;">Select Your Qualification.</p>

				<table>
					<div *ngFor="let r of qualification;">
						<div *ngFor="let item of r.qualifications; let i = index">
							<tr>
								<td valign="top">
									<input class="checkboxquali" style="margin-right: 10px; margin-left: 5px;"
										type="checkbox" value="{{item}}" (change)="qualit($event,i)"
										formControlName="rulez{{i}}">
								</td>
								<td style="padding-right: 10px;"><label style="font-weight: 500;" for=""><span>
										</span>{{item}}</label></td>
							</tr>


						</div>
					</div>
					<tr>
						<td *ngIf="newruleinput" style="padding-right: 10px;"><textarea class="form-control input-type" formControlName="newrule" type="text" placeholder="Enter Your Other Qualification(s) Here"></textarea>
						</td>
					</tr>
					<div style="margin-left: 5px;">
						<p><span style="font-size: small;padding-left: 2px;text-align: justify;" class="astric">
						Providing False Information will lead to Rejection of Your Application/Registration.</span></p>
					</div>

				</table>
				<table>




				</table>


			</div>

		</div>



		<br>
		<br>


		<div class="pdetails">
			<div class="pdsub">
				<div class="p-3 mb-2 bg-info text-white" style="margin-top: -1px;margin-left:-1px">
					<h2><i class='fa fa-edit' style="font-size: 36px;"> </i> Personal Details</h2>
				</div>

				<div class="responsive">
				<div class="row" *ngIf="local">
					<div class="col-sm-6"><label for="">NIC Number<span class="astric">*</span></label></div>
					<div class="col-sm-6"> <input type="text" formControlName="nic"
							class="form-control input-type" [ngClass]="{ 'is-invalid': a.nic.touched && a.nic.errors }" readonly>
						<div *ngIf="a.nic.touched && a.nic.errors" class="invalid-feedback">

							<div *ngIf="a.nic.errors.required">NIC is required</div>
							<div *ngIf="a.nic.errors.pattern">NIC must be in correct format</div>
							<div *ngIf="a.nic.errors.ageerror">Applicant must be more than 18 years</div>

						</div>
					</div>
				</div>

				<div class="row" *ngIf="!local">
					<div class="col-sm-6"><label for="">Passport Number<span class="astric">*</span></label></div>
					<div class="col-sm-6"> <input type="text" formControlName="passport"
							class="form-control input-type"
							[ngClass]="{ 'is-invalid': a.passport.touched && a.passport.errors }" readonly>
						<div *ngIf="a.passport.touched && a.passport.errors" class="invalid-feedback">
							<div *ngIf="a.passport.errors.required">Passport is required</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6"> <label for="">Name with Initials<span class="astric">*</span></label> </div>
					<div class="col-sm-6"> <input type="text" formControlName="namewithinitials"
							class="form-control input-type"
							[ngClass]="{ 'is-invalid': a.namewithinitials.touched && a.namewithinitials.errors }"
							placeholder="A.C Perera">
						<div *ngIf="a.namewithinitials.touched && a.namewithinitials.errors" class="invalid-feedback">
							<div *ngIf="a.namewithinitials.errors.required">Name is required</div>
							<div *ngIf="a.namewithinitials.errors.pattern">Name Not Valid</div>
						</div>
					</div>
				</div>
			</div>
				<br>

			<div class="caddress">
				<div style="position: absolute;margin-top: -17px;background-color:#fff0d5;">Correspondance Address</div>

				<div class="row" style="margin-top: 6px;">
					<div class="col-sm-6"><label for="">Corresponding Address Line 1<span
								class="astric">*</span></label> </div>
					<div class="col-sm-6"><input type="text" formControlName="address" (change)="test()"
							class="form-control input-type" style="margin-left: 2px;"
							[ngClass]="{ 'is-invalid': a.address.touched && a.address.errors }">
						<div *ngIf=" a.address.errors" class="invalid-feedback">
							<div *ngIf="a.address.errors.required">Address Lane 1 is required</div>
							<div *ngIf="a.address.errors.pattern">Address not Valid or remove Comma(,)</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6"> <label for="">Corresponding Address Line 2<span
								class="astric">*</span></label> </div>
					<div class="col-sm-6"> <input type="text" formControlName="address1" class="form-control input-type"
						style="margin-left: 2px;"
						[ngClass]="{ 'is-invalid': a.address1.touched && a.address1.errors }">
						<div *ngIf=" a.address1.errors" class="invalid-feedback">
							<div *ngIf="a.address1.errors.required">Address Lane 2 is required</div>
							<div *ngIf="a.address1.errors.pattern">Address not Valid or remove Comma(,)</div>
						</div>
					</div>
				</div>

				<div id="centerc" class="row">
					<div class="col-sm-6"> <label for="">Town/City</label>
					</div>
					<div class="col-sm-6"><input style="margin-left: 2px;" class="form-control input-type" formControlName="town">

					</div>
				</div>

				<div id="centerc" class="row" *ngIf="!local">
					<div class="col-sm-6"> <label for="">Postal Code</label>
					</div>
					<div class="col-sm-6"><input style="margin-left: 2px;" class="form-control input-type" formControlName="postalCode">

					</div>
				</div>

				<div id="centerc" class="row" *ngIf="!local">
					<div class="col-sm-6"> <label for="">State/Province</label>
					</div>
					<div class="col-sm-6"><input style="margin-left: 2px;" class="form-control input-type" formControlName="province">

					</div>
				</div>

				<div id="centerc" style="margin-bottom: 10px;" class="row" *ngIf="local">
					<div class="col-sm-6"> <label for="">District<span class="astric">*</span></label>
					</div>
					<div class="col-sm-6"><select (change)='getadmincenter($event)' class="form-control dropdown_menu"
							formControlName='city' [ngClass]="{ 'is-invalid': a.city.touched && a.city.errors }">
							<option value="">---Select---</option>
							<option value="{{dis.description}}" *ngFor="let dis of district">{{dis.description}}
							</option>

						</select>
						<div *ngIf=" a.city.errors" class="invalid-feedback">
							<div *ngIf="a.city.errors.required">District is required</div>
						</div>
					</div>
				</div>

				<div id="centerc" style="margin-bottom: 10px;" class="row" *ngIf="!local">
					<div class="col-sm-6"> <label for="">Country<span class="astric">*</span></label> </div>
					<div class="col-sm-6"><select (change)='getadmincenter($event)' class="form-control dropdown_menu"
							formControlName='country'
							[ngClass]="{ 'is-invalid': a.country.touched && a.country.errors }">
							<option value="">---Select---</option>
							<option value="{{dis.name}}" *ngFor="let dis of country">{{dis.name}}</option>

						</select>
						<div *ngIf=" a.country.errors" class="invalid-feedback">
							<div *ngIf="a.country.errors.required">Country is required</div>
						</div>
					</div>
				</div>

			</div>

			<br>

			<div class="responsive">
				<div class="row">
					<div class="col-sm-6"> <label for="">Mobile Number<span class="astric">*</span></label></div>

					<div class="col-sm-6"><div ><input type="text" class="form-control input-type sec1" formControlName="countrycode"
						id="mb" readonly>
				   <input type="tel" formControlName="mobileno" class="form-control input-type sec2"
						   [ngClass]="{ 'is-invalid': a.mobileno.touched && a.mobileno.errors }" style="margin-left: 1px;"
						   placeholder="{{placeholdermobile}}" >
					   <div *ngIf=" a.mobileno.errors" class="invalid-feedback">
						   <div *ngIf="a.mobileno.errors.required">Mobile Number is required</div>
						   <div *ngIf="a.mobileno.errors.minlength">Mobile Number must be a valid Mobile Number</div>
						   <div *ngIf="a.mobileno.errors.maxlength">Mobile Number exceeds valid Mobile Number Length
						   </div>
						   <div *ngIf="a.mobileno.errors.pattern">Mobile Number Should Start with 7XXXXXXXX</div>
					   </div>
				   </div></div>
				</div>

				<div class="row" *ngIf="local">
					<div class="col-sm-6"><label for="">Land Phone Number</label></div>
					<div class="col-sm-6"> <input type="text" class="form-control input-type sec1" formControlName="countrycode"
						id="lll" readonly>
						<input type="tel" formControlName="lanNo" 
							class="form-control input-type sec2" style="margin-left: 1px;"
							[ngClass]="{ 'is-invalid': a.lanNo.touched && a.lanNo.errors }" placeholder="112881000">
						<div *ngIf=" a.lanNo.errors" class="invalid-feedback">
							<div *ngIf="a.lanNo.errors.pattern">Field Should Contain Only Numbers</div>
							<div *ngIf="a.lanNo.errors.minlength">Land Number is not Valid</div>
							<div *ngIf="a.lanNo.errors.maxlength">Land Number is not Valid</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6"> <label for="">Email<span class="astric">*</span></label></div>
					<div class="form-group col-sm-6">
						<input type="email" formControlName="email" class="form-control input-type"
							pattern="^[\w-\.]+@([\w-]{2,15}\.)+[\w-]{2,3}$"
							[ngClass]="{ 'is-invalid': a.email.touched && a.email.errors }">
						<div *ngIf="a.email.errors" class="invalid-feedback" placeholder="ousl@ou.ac.lk">
							<div *ngIf="a.email.errors.required">Email is required</div>
							<div *ngIf="a.email.errors.pattern">Provide a valid Email Address</div>
						</div>
					</div>
				</div>


				<div id="adminc" class="row">
					<div class="col-sm-6"><label for="">Administration Centre<span class="d-inline-block tooltips" data-placement="top" tabindex="0" data-toggle="tooltip"
						 title="The Centre where you will carry out All your Administration Activities of the Registered Programme">
						<img src="../../../../assets/Images/helpicon.png" style="height: 15px;margin-left: 3px;"></span></label></div>
					<div class="col-sm-6">
						<input type="text" formControlName="admincenterid" class="form-control input-type"
							value="{{center}}" readonly>
					</div>
				</div>

			</div>

				<br>
				<div>



				</div>

				<div  class="row" style="height: 65px;">
					<div style="margin-bottom: 15px;">
						<b><input [disabled]="(!ApplicationForm.valid == true && disablebtns == true) || (!ApplicationForm.valid == false && disablebtns == false) ? true : false"
								type="submit" value="Update" class='btn btn-primary btnsubmit'></b>

					</div>
				</div>



			</div>

		</div>


	</div>
<br>
</form>
</div>
</div>

</div>

<div *ngIf="spinnerOn" class="container">
    <div class="row">
        <div class="Content-wrapper">
            <div id="spinner" class="col-6" style="margin-left: auto; margin-right: auto;">
                <div id="spinner_content" class="col-6" style="margin-left: auto; margin-right: auto;">
                    <div class="form-group" style="margin-left: auto; margin-right: auto;">
                        <h2>Please wait...</h2>
                        <img src="../../../../assets/Images/spinner.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
	  <div class="modal-content">

		<div class="modal-body">
			<div class="form-group" >
			  <label for="usr">Do you want to cancel the exam booking?</label>
			</div>
		</div>
  

		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" (click)="Yes()" data-dismiss="modal">Yes</button> 
		  <button type="button" class="btn btn-secondary" (click)="No()"  data-dismiss="modal">No</button> 
		</div>
	  </div>
	</div>
  </div> 