<div *ngIf="!spinnerOn" class="container" >
    <div class="row">
        <div class="col-sm-12">
            <div class="Content-wrapper" style="padding-top: 0px;">
                <div class="row">
                    <div class="col-sm-6" style="background-color: black; color: white; margin-left: 3px;">
                        <h4>Application Summary Statistics</h4>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                <div class="col-sm-11 mx-auto" >
                   
                    <br>
                    <div class="row">   
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <h6>Programme</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6>: {{programName}}</h6>
                        </div>  
                    </div> 
                    <div class="row">   
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <h6>Academic Year</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6>: {{academicYear}} - {{batch}}</h6>
                        </div>  
                    </div>
                    <div *ngIf="adminRole=='ROLE_ADMIN'" class="row">   
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <h6>Academic Centre</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6>: {{this.centerCode}} : {{this.centerName}}</h6>
                        </div>  
                    </div>
                    <br>

                    <!-- <div *ngIf="this.forSequenceOrder.length>8">
                        <div *ngIf="adminRole=='ROLE_ADMIN'">
                            <div style="overflow-x: auto;">
                                <table id="programs">
                                    <tr>
                                        <th>English</th>
                                        <th>Sinhala</th>
                                        <th>Tamil</th>
                                        <th style="background-color: white; border: white;"></th>
                                        <th *ngFor="let data of forHeaders">{{data}}</th>
                                        <th>APP</th>
                                        <th *ngIf="showColumn3">EEBP</th>
                                        <th *ngIf="showColumn4">COU</th>
                                        <th *ngIf="showColumn5">CR</th>
                                        <th *ngIf="showColumn6">CP</th>
                                        <th *ngIf="showColumn7">DAPP</th>
                                        <th *ngIf="showColumn8">EQ</th>
                                        <th *ngIf="showColumn9">PQ</th>
                                        <th *ngIf="showColumn10">WE</th>
                                        <th *ngIf="showColumn11">RC</th>
                                        <th *ngIf="showColumn12">DA</th>
                                        <th *ngIf="showColumn13">OEE</th>
                                        <th *ngIf="showColumn15">OC</th>
                                        <th *ngIf="showColumn16">APD</th>
                                        <th *ngIf="showColumn19">RE</th>
                                    </tr>
                                    <tr>
                                        <td>{{englishCount}}</td>
                                        <td>{{sinhalaCount}}</td>
                                        <td>{{tamilCount}}</td>
                                        <td style="background-color: white; border: white;"></td>
                                        <td class="pointer" *ngFor="let data of adminTable"  (click)="onRedirect(data.identity,data.count,data.sequence)"><a href="javascript:void(0)">{{data.count}}</a></td>
                                        <td class="pointer"  (click)="onRedirect(2,applicationPaymentCount,17)"><a href="javascript:void(0)">{{applicationPaymentCount}}</a></td>
                                        <td *ngIf="showColumn3" class="pointer"  (click)="onRedirect(3,examBookingCount,18)"><a href="javascript:void(0)">{{examBookingCount}}</a></td>
                                        <td *ngIf="showColumn4" class="pointer"  (click)="onRedirect(4,counselling,0)"><a href="javascript:void(0)">{{counselling}}</a></td>
                                        <td *ngIf="showColumn5" class="pointer"  (click)="onRedirect(5,courseRegistration,0)"><a href="javascript:void(0)">{{courseRegistration}}</a></td>
                                        <td *ngIf="showColumn6" class="pointer"  (click)="onRedirect(6,coursePayment,0)"><a href="javascript:void(0)">{{coursePayment}}</a></td>
                                        <td *ngIf="showColumn7" class="pointer"  (click)="onRedirect(7,detailApplication,0)"><a href="javascript:void(0)">{{detailApplication}}</a></td>
                                        <td *ngIf="showColumn8" class="pointer"  (click)="onRedirect(8,educationalQualification,0)"><a href="javascript:void(0)">{{educationalQualification}}</a></td>
                                        <td *ngIf="showColumn9" class="pointer"  (click)="onRedirect(9,professionalQualification,0)"><a href="javascript:void(0)">{{professionalQualification}}</a></td>
                                        <td *ngIf="showColumn10" class="pointer"  (click)="onRedirect(10,workExperience,0)"><a href="javascript:void(0)">{{workExperience}}</a></td>
                                        <td *ngIf="showColumn11" class="pointer"  (click)="onRedirect(11,registrationCompleted,0)"><a href="javascript:void(0)">{{registrationCompleted}}</a></td>
                                        <td *ngIf="showColumn12" class="pointer"  (click)="onRedirect(12,downloadAdmissionCount,0)"><a href="javascript:void(0)">{{downloadAdmissionCount}}</a></td>
                                        <td *ngIf="showColumn13" class="pointer"  (click)="onRedirect(13,offlineEntryExam,0)"><a href="javascript:void(0)">{{offlineEntryExam}}</a></td>
                                        <td *ngIf="showColumn15" class="pointer"  (click)="onRedirect(15,onlineConselling,0)"><a href="javascript:void(0)">{{onlineConselling}}</a></td>
                                        <td *ngIf="showColumn16" class="pointer"  (click)="onRedirect(16,ApplicationPaymentDone,0)"><a href="javascript:void(0)">{{ApplicationPaymentDone}}</a></td>
                                        <td *ngIf="showColumn19" class="pointer"  (click)="onRedirect(19,RequestExemptions,0)"><a href="javascript:void(0)">{{RequestExemptions}}</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center;">Total = {{totalMedium}}</td>
                                        <td style="background-color: white; border: white;"></td>
                                        <td colspan="13" style="text-align: center;">Total = {{totalSequence}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="adminRole=='ROLE_SUPER_ADMIN'" >
                            <div style="overflow-x: auto;">
                                <table id="programs">
                                    <tr>
                                        <th>Centre</th>
                                        <th>English</th>
                                        <th>Sinhala</th>
                                        <th>Tamil</th>
                                        <th *ngFor="let data of forHeaders">{{data}}</th>
                                        <th>APP</th>
                                        <th *ngIf="showColumn3">EEBP</th>
                                        <th *ngIf="showColumn4">COU</th>
                                        <th *ngIf="showColumn5">CR</th>
                                        <th *ngIf="showColumn6">CP</th>
                                        <th *ngIf="showColumn7">DAPP</th>
                                        <th *ngIf="showColumn8">EQ</th>
                                        <th *ngIf="showColumn9">PQ</th>
                                        <th *ngIf="showColumn10">WE</th>
                                        <th *ngIf="showColumn11">RC</th>
                                        <th *ngIf="showColumn12">DA</th>
                                        <th *ngIf="showColumn13">OEE</th>
                                        <th *ngIf="showColumn15">OC</th>
                                        <th *ngIf="showColumn16">APD</th>
                                        <th *ngIf="showColumn19">RE</th>
                                    </tr>
                                    <tr *ngFor="let tableData of forFinalCenter">
                                        <td>{{tableData.centerName}}</td>
                                        <td>{{tableData.englisMedium}}</td>
                                        <td>{{tableData.sinhalaMedium}}</td>
                                        <td>{{tableData.tamilMedium}}</td>                                          
                                        <td class="pointer" *ngFor="let data of tableData.sequenceArray"  (click)="onRedirectSuperAdmin(tableData.centerId,data.identity,data.count,data.sequence)"><a href="javascript:void(0)">{{data.count}}</a></td>
                                        <td class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,2,tableData.applicationPaymentCountSequence,17)"><a href="javascript:void(0)">{{tableData.applicationPaymentCountSequence}}</a></td>
                                        <td *ngIf="showColumn3" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,3,tableData.examBookingCountSequence,18)"><a href="javascript:void(0)">{{tableData.examBookingCountSequence}}</a></td>
                                        <td *ngIf="showColumn4" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,4,tableData.counselling,0)"><a href="javascript:void(0)">{{tableData.counselling}}</a></td>
                                        <td *ngIf="showColumn5" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,5,tableData.courseRegistration,0)"><a href="javascript:void(0)">{{tableData.courseRegistration}}</a></td>
                                        <td *ngIf="showColumn6" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,6,tableData.coursePayment,0)"><a href="javascript:void(0)">{{tableData.coursePayment}}</a></td>
                                        <td *ngIf="showColumn7" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,7,tableData.detailApplication,0)"><a href="javascript:void(0)">{{tableData.detailApplication}}</a></td>
                                        <td *ngIf="showColumn8" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,8,tableData.educationalQualification,0)"><a href="javascript:void(0)">{{tableData.educationalQualification}}</a></td>
                                        <td *ngIf="showColumn9" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,9,tableData.professionalQualification,0)"><a href="javascript:void(0)">{{tableData.professionalQualification}}</a></td>
                                        <td *ngIf="showColumn10" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,10,tableData.workExperience,0)"><a href="javascript:void(0)">{{tableData.workExperience}}</a></td>
                                        <td *ngIf="showColumn11" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,11,tableData.registrationCompleted,0)"><a href="javascript:void(0)">{{tableData.registrationCompleted}}</a></td>
                                        <td *ngIf="showColumn12" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,12,tableData.downloadAdmissionCountSequence,0)"><a href="javascript:void(0)">{{tableData.downloadAdmissionCountSequence}}</a></td>
                                        <td *ngIf="showColumn13" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,13,tableData.offlineEntryExam,0)"><a href="javascript:void(0)">{{tableData.offlineEntryExam}}</a></td>
                                        <td *ngIf="showColumn15" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,15,tableData.onlineConselling,0)"><a href="javascript:void(0)">{{tableData.onlineConselling}}</a></td>
                                        <td *ngIf="showColumn16" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,16,tableData.ApplicationPaymentDone,0)"><a href="javascript:void(0)">{{tableData.ApplicationPaymentDone}}</a></td>
                                        <td *ngIf="showColumn19" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,19,tableData.RequestExemptions,0)"><a href="javascript:void(0)">{{tableData.RequestExemptions}}</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3" style="text-align: center;">Total = {{totalMedium}}</td>
                                        <td colspan="13" style="text-align: center;">Total = {{totalSequence}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div *ngIf="this.forSequenceOrder.length<=8"> -->
                        <div *ngIf="adminRole=='ROLE_ADMIN'" >
                            <div style="overflow-x: auto;">
                                <table id="programs">
                                    <tr>
                                        <th>English</th>
                                        <th>Sinhala</th>
                                        <th>Tamil</th>
                                        <th style="background-color: white; border: white;"></th>
                                        <th *ngFor="let data of forHeaders">{{data}}</th>
                                        <!-- <th>Application Payment Pending</th>
                                        <th *ngIf="showColumn3">Entrance Exam Booking Pending</th>
                                        <th *ngIf="showColumn4">Counselling</th>
                                        <th *ngIf="showColumn5">Course Registration</th>
                                        <th *ngIf="showColumn6">Course Payment</th>
                                        <th *ngIf="showColumn7">Detail Application</th>
                                        <th *ngIf="showColumn8">Educational Qualification</th>
                                        <th *ngIf="showColumn9">Professional Qualification</th>
                                        <th *ngIf="showColumn10">Work Experience</th>
                                        <th *ngIf="showColumn11">Registration Completed</th>
                                        <th *ngIf="showColumn12">Download Admission</th>
                                        <th *ngIf="showColumn13">Offline Entry Exam</th>
                                        <th *ngIf="showColumn15">Online Counselling</th>
                                        <th *ngIf="showColumn16">Application Payment Done</th>
                                        <th *ngIf="showColumn19">Request Exemptions</th> -->
                                    </tr>
                                    <tr>
                                        <td>{{englishCount}}</td>
                                        <td>{{sinhalaCount}}</td>
                                        <td>{{tamilCount}}</td>
                                        <td style="background-color: white; border: white;"></td>
                                        <td class="pointer" *ngFor="let data of adminTable"  (click)="onRedirect(data.identity,data.count,data.sequence)"><a href="javascript:void(0)">{{data.count}}</a></td>
                                        <!-- <td class="pointer"  (click)="onRedirect(2,applicationPaymentCount,17)"><a href="javascript:void(0)">{{applicationPaymentCount}}</a></td>
                                        <td *ngIf="showColumn3" class="pointer"  (click)="onRedirect(3,examBookingCount,18)"><a href="javascript:void(0)">{{examBookingCount}}</a></td>
                                        <td *ngIf="showColumn4" class="pointer"  (click)="onRedirect(4,counselling,0)"><a href="javascript:void(0)">{{counselling}}</a></td>
                                        <td *ngIf="showColumn5" class="pointer"  (click)="onRedirect(5,courseRegistration,0)"><a href="javascript:void(0)">{{courseRegistration}}</a></td>
                                        <td *ngIf="showColumn6" class="pointer"  (click)="onRedirect(6,coursePayment,0)"><a href="javascript:void(0)">{{coursePayment}}</a></td>
                                        <td *ngIf="showColumn7" class="pointer"  (click)="onRedirect(7,detailApplication,0)"><a href="javascript:void(0)">{{detailApplication}}</a></td>
                                        <td *ngIf="showColumn8" class="pointer"  (click)="onRedirect(8,educationalQualification,0)"><a href="javascript:void(0)">{{educationalQualification}}</a></td>
                                        <td *ngIf="showColumn9" class="pointer"  (click)="onRedirect(9,professionalQualification,0)"><a href="javascript:void(0)">{{professionalQualification}}</a></td>
                                        <td *ngIf="showColumn10" class="pointer"  (click)="onRedirect(10,workExperience,0)"><a href="javascript:void(0)">{{workExperience}}</a></td>
                                        <td *ngIf="showColumn11" class="pointer"  (click)="onRedirect(11,registrationCompleted,0)"><a href="javascript:void(0)">{{registrationCompleted}}</a></td>
                                        <td *ngIf="showColumn12" class="pointer"  (click)="onRedirect(12,downloadAdmissionCount,0)"><a href="javascript:void(0)">{{downloadAdmissionCount}}</a></td>
                                        <td *ngIf="showColumn13" class="pointer"  (click)="onRedirect(13,offlineEntryExam,0)"><a href="javascript:void(0)">{{offlineEntryExam}}</a></td>
                                        <td *ngIf="showColumn15" class="pointer"  (click)="onRedirect(15,onlineConselling,0)"><a href="javascript:void(0)">{{onlineConselling}}</a></td>
                                        <td *ngIf="showColumn16" class="pointer"  (click)="onRedirect(16,ApplicationPaymentDone,0)"><a href="javascript:void(0)">{{ApplicationPaymentDone}}</a></td>
                                        <td *ngIf="showColumn19" class="pointer"  (click)="onRedirect(19,RequestExemptions,0)"><a href="javascript:void(0)">{{RequestExemptions}}</a></td> -->
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center;">Total = {{totalMedium}}</td>
                                        <td style="background-color: white; border: white;"></td>
                                        <td colspan="13" style="text-align: center;">Total = {{totalSequence}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="adminRole=='ROLE_SUPER_ADMIN'" >
                            <div style="overflow-x: auto;">
                                <table id="programs">
                                    <tr>
                                        <th>Centre</th>
                                        <th>English</th>
                                        <th>Sinhala</th>
                                        <th>Tamil</th>
                                        <th *ngFor="let data of forHeaders">{{data}}</th>
                                        <!-- <th>Application Payment Pending</th>
                                        <th *ngIf="showColumn3">Entrance Exam Booking Pending</th>
                                        <th *ngIf="showColumn4">Counselling</th>
                                        <th *ngIf="showColumn5">Course Registration</th>
                                        <th *ngIf="showColumn6">Course Payment</th>
                                        <th *ngIf="showColumn7">Detail Application</th>
                                        <th *ngIf="showColumn8">Educational Qualification</th>
                                        <th *ngIf="showColumn9">Professional Qualification</th>
                                        <th *ngIf="showColumn10">Work Experience</th>
                                        <th *ngIf="showColumn11">Registration Completed</th>
                                        <th *ngIf="showColumn12">Download Admission</th>
                                        <th *ngIf="showColumn13">Offline Entry Exam</th>
                                        <th *ngIf="showColumn15">Online Counselling</th>
                                        <th *ngIf="showColumn16">Application Payment Done</th>
                                        <th *ngIf="showColumn19">Request Exemptions</th> -->
                                    </tr>
                                    <tr *ngFor="let tableData of forFinalCenter">
                                        <td>{{tableData.centerName}}</td>
                                        <td>{{tableData.englisMedium}}</td>
                                        <td>{{tableData.sinhalaMedium}}</td>
                                        <td>{{tableData.tamilMedium}}</td>                                          
                                        <td class="pointer" *ngFor="let data of tableData.sequenceArray"  (click)="onRedirectSuperAdmin(tableData.centerId,data.identity,data.count,data.sequence)"><a href="javascript:void(0)">{{data.count}}</a></td>
                                        <!-- <td class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,2,tableData.applicationPaymentCountSequence,17)"><a href="javascript:void(0)">{{tableData.applicationPaymentCountSequence}}</a></td>
                                        <td *ngIf="showColumn3" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,3,tableData.examBookingCountSequence,18)"><a href="javascript:void(0)">{{tableData.examBookingCountSequence}}</a></td>
                                        <td *ngIf="showColumn4" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,4,tableData.counselling,0)"><a href="javascript:void(0)">{{tableData.counselling}}</a></td>
                                        <td *ngIf="showColumn5" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,5,tableData.courseRegistration,0)"><a href="javascript:void(0)">{{tableData.courseRegistration}}</a></td>
                                        <td *ngIf="showColumn6" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,6,tableData.coursePayment,0)"><a href="javascript:void(0)">{{tableData.coursePayment}}</a></td>
                                        <td *ngIf="showColumn7" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,7,tableData.detailApplication,0)"><a href="javascript:void(0)">{{tableData.detailApplication}}</a></td>
                                        <td *ngIf="showColumn8" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,8,tableData.educationalQualification,0)"><a href="javascript:void(0)">{{tableData.educationalQualification}}</a></td>
                                        <td *ngIf="showColumn9" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,9,tableData.professionalQualification,0)"><a href="javascript:void(0)">{{tableData.professionalQualification}}</a></td>
                                        <td *ngIf="showColumn10" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,10,tableData.workExperience,0)"><a href="javascript:void(0)">{{tableData.workExperience}}</a></td>
                                        <td *ngIf="showColumn11" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,11,tableData.registrationCompleted,0)"><a href="javascript:void(0)">{{tableData.registrationCompleted}}</a></td>
                                        <td *ngIf="showColumn12" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,12,tableData.downloadAdmissionCountSequence,0)"><a href="javascript:void(0)">{{tableData.downloadAdmissionCountSequence}}</a></td>
                                        <td *ngIf="showColumn13" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,13,tableData.offlineEntryExam,0)"><a href="javascript:void(0)">{{tableData.offlineEntryExam}}</a></td>
                                        <td *ngIf="showColumn15" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,15,tableData.onlineConselling,0)"><a href="javascript:void(0)">{{tableData.onlineConselling}}</a></td>
                                        <td *ngIf="showColumn16" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,16,tableData.ApplicationPaymentDone,0)"><a href="javascript:void(0)">{{tableData.ApplicationPaymentDone}}</a></td>
                                        <td *ngIf="showColumn19" class="pointer"  (click)="onRedirectSuperAdmin(tableData.centerId,19,tableData.RequestExemptions,0)"><a href="javascript:void(0)">{{tableData.RequestExemptions}}</a></td> -->
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3" style="text-align: center;">Total = {{totalMedium}}</td>
                                        <td colspan="13" style="text-align: center;">Total = {{totalSequence}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    <!-- </div> -->
                    <br>
                    <div class="pull-right" style="display: flex;">
                        <button type="submit" id="backButtonForPrint" (click)="back()" class="btn btn-continue">Back</button>
                        <button type="submit" id="buttonForPrint" (click)="captureScreen()" class="btn btn-main">Print</button>
                        <button type="submit" id="buttonForExcel" (click)="exportToExcel()" class="btn btn-print">Export to Excel</button>
                    </div>

                <br>
                <br>
                <br>
                <div *ngIf="this.forSequenceOrder.length>8">
                    <div *ngFor="let data of defineHeaders">
                        {{data}}
                    </div>
                </div>
                <!-- <div *ngIf="this.forSequenceOrder.length>8">
                    
                        <div class="row">
                            APP - Application Payment Pending
                        </div>
                        <div *ngIf="showColumn3" class="row">
                            EEBP - Entrance Exam Booking Pending
                        </div>
                        <div *ngIf="showColumn4" class="row">
                            COU - Counselling
                        </div>
                   
                    
                        <div *ngIf="showColumn5" class="row">
                            CR - Course Registration
                        </div>
                        <div *ngIf="showColumn6" class="row">
                            CP - Course Payment
                        </div>
                        <div *ngIf="showColumn7" class="row">
                            DAPP - Detail Application
                        </div>
                    
                    
                        <div *ngIf="showColumn8" class="row">
                            EQ - Educational Qualification
                        </div>
                        <div *ngIf="showColumn9" class="row">
                            PQ - Professional Qualification
                        </div>
                        <div *ngIf="showColumn10" class="row">
                            WE - Work Experience
                        </div>
                    
                    
                        <div *ngIf="showColumn11" class="row">
                            RC - Registration Completed
                        </div>
                        <div *ngIf="showColumn12" class="row">
                            DA - Download Admission
                        </div>
                        <div *ngIf="showColumn13" class="row">
                            OEE - Offline Entry Exam
                        </div>
                    
                    
                        <div *ngIf="showColumn15" class="row">
                            OC - Online Counselling
                        </div>
                        <div *ngIf="showColumn16" class="row">
                            APD - Application Payment Done
                        </div>
                        <div *ngIf="showColumn19" class="row">
                            RE - Request Exemptions
                        </div>
                        
                    
                </div> -->

                </div> 
                
                
            </div>
        </div>
    </div>
</div>
<div *ngIf="spinnerOn" class="container">
    <div class="row">
        <div class="Content-wrapper">
            <div id="spinner" class="col-6" style="margin-left: auto; margin-right: auto;">
                <div id="spinner_content" class="col-6" style="margin-left: auto; margin-right: auto;">
                    <div class="form-group" style="margin-left: auto; margin-right: auto;">
                        <h2>Please wait...</h2>
                        <img src="../../../../assets/Images/spinner.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div [hidden]="true">

        <table id="programs1">
        

            <div  *ngFor="let tableData of filterInitialApplicants">
                <tr >
                    <td colspan="5" style="text-align: center;" >{{tableData.centerName}}</td>
                </tr>
                <tr></tr>
                <div *ngFor="let tableData1 of tableData.sequence">
                    <tr>
                        <td colspan="5" style="text-align: center;" >{{tableData1.sequenceName}}</td>
                    </tr>
                    <tr></tr>
            <tr>
                <th>Application Number</th>
                <th>NIC</th>
                <th>Full Name</th>
                <th>Contact Number</th>
                <th>Email</th>
            </tr>
            <p>{{tableData1.studentData}}hello</p>
                    <div *ngFor="let tableData2 of tableData1.studentData">
                        <tr>
                            <td>{{tableData2.id}}</td>
                            <td>{{tableData2.nic}}</td>
                            <td>{{tableData2.namewithinitials}}</td>
                            <td>{{tableData2.mobileno}}</td>
                            <td>{{tableData2.email}}</td>
                        </tr>
                        
                    </div>
                    
                </div>
            </div>
        </table>

</div>
<div id="forModal" data-toggle="modal" data-target="#myModal"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
	  <div class="modal-content">

		<div class="modal-body">
			<div class="form-group" >
			  <label for="usr">File Name</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="fileName" name="" id="">
			</div>
		</div>
  

		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" (click)="Save()" data-dismiss="modal">Download</button> 
		</div>
	  </div>
	</div>
  </div>  -->
