<div *ngIf="!spinnerOn" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="Content-wrapper">
                <div (click)="onClickedOutside()" >
                    <div class="col-sm-10 mx-auto">
                        <div *ngIf="adminRole=='ROLE_ADMIN'" class="row">
                            <div  class="col-sm-12">
                                <h4>Applications List at {{centerCode}} : {{centerName}} as at {{ CurrentDate | date: 'dd/MM/yyyy' }} {{ CurrentDate | date: 'HH:mm:ss' }}</h4>
                            </div>  
                        </div> 
                        <div *ngIf="adminRole=='ROLE_SUPER_ADMIN'" class="row">
                            <div class="col-sm-12">
                                <h4>Applications List at {{ CurrentDate | date: 'dd/MM/yyyy' }} {{ CurrentDate | date: 'HH:mm:ss' }}</h4>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <h6>Programme</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <h6>Academic Year</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <h6>Total Applications</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <h6>: {{programName}}</h6>
                                </div>
                                <div class="row">
                                    <h6>: {{academicYear}} - {{batch}}</h6>
                                </div>
                                <div class="row">
                                    <h6>: {{totalApplications}}</h6>
                                </div>
                            </div>
                        </div>
                            <!-- <div class="row" >   
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <h6>Programme</h6>
                                </div>
                                <div class="col-sm-7">
                                    <h6>: {{programName}}</h6>
                                </div>  
                            </div> 
                            <div class="row">   
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <h6>Academic Year</h6>
                                </div>
                                <div class="col-sm-7">
                                    <h6>: {{academicYear}} - {{batch}}</h6>
                                </div>  
                            </div>
                            <div class="row" >   
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <h6>Total Applications</h6>
                                </div>
                                <div class="col-sm-7">
                                    <h6>: {{totalApplications}}</h6>
                                </div>  
                            </div> -->
                        <br>
                        <form action="" [formGroup]="forSearch">
                            <div id="forSelectBox" class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Search By</h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="" formControlName="selectForSearch" id="" class="form-control-sm form-control" (change)="changeSelect()">
                                                <option value="6">All</option>
                                                <option value="1">Application Number</option>
                                                <option value="2">NIC</option>
                                                <option value="3">Name</option>
                                                <option value="4">Email</option>
                                                <option value="5">Contact Number</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5" [ngClass]="{'disableDiv': this.isDisable}">
                                            <input #search1 formControlName="typeForSearch"  [(ngModel)]="SearchValue" type="text" class="form-control-sm form-control"(keyup)="onSearch($event.target.value,search1.value)">
                                            <div style="position: absolute; z-index: 5; ">
                                                <div *ngIf="show" class="scroller-fordiv">
                                                  <div *ngFor="let search of forFilterDiv |appFilter : SearchValue"  class="dropdown-content">
                                                    <ul class="list-group">
                                                      <li (click)="searchSelect(search)" class="list-group-item">
                                                        {{search}}
                                                      </li> 
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <i (click)="search()" class="fa pointer fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    
                                </div>
        
                            </div>
                        </form>
                        <br>
                        <div *ngIf="forSearchArray">
                            <div style="overflow-x: auto;">
                                <table id="programs">
                                    <tr>
                                        <th>No</th>
                                        <th>Application Number</th>
                                        <th>NIC</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Contact Number</th>
                                        <th>Details</th>
                                    </tr>
                                    
                                        <tr *ngFor="let tableData of forSearchInitialApplicants; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{tableData.id}}</td>
                                            <td>{{tableData.nic}}</td>
                                            <td>{{tableData.namewithinitials}}</td>
                                            <td>{{tableData.email}}</td>
                                            <td>{{tableData.mobileno}}</td>
                                            <td style="text-decoration: underline; color: blue;" class="pointer" (click)="onMore(tableData.nic)" >More...</td>
                                        </tr> 
                                </table>
                            </div>
                        </div>
                        <div *ngIf="!forSearchArray">
                            <div style="overflow-x: auto;">
                                <table id="programs">
                                    <tr>
                                        <th>No</th>
                                        <th>Application Number</th>
                                        <th>NIC</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Contact Number</th>
                                        <th>Details</th>
                                    </tr>
                                    
                                        <tr *ngFor="let tableData of filterInitialApplicants; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{tableData.id}}</td>
                                            <td>{{tableData.nic}}</td>
                                            <td>{{tableData.namewithinitials}}</td>
                                            <td>{{tableData.email}}</td>
                                            <td>{{tableData.mobileno}}</td>
                                            <td style="text-decoration: underline; color: blue;" class="pointer" (click)="onMore(tableData.nic)" >More...</td>
                                        </tr> 
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="pull-right">
                            <button type="submit" (click)="back()" id="backButtonForPrint" class="btn btn-continue">Back</button>
                            <button type="submit" (click)="captureScreen()" id="buttonForPrint" class="btn btn-main">Print</button>
                        </div>

                        <br>
                        <br>
                        <br>
                    </div>
                </div>
      
            </div>
        </div>
    </div>
</div>
<div *ngIf="spinnerOn" class="container">
    <div class="row">
        <div class="Content-wrapper">
            <div id="spinner" class="col-6" style="margin-left: auto; margin-right: auto;">
                <div id="spinner_content" class="col-6" style="margin-left: auto; margin-right: auto;">
                    <div class="form-group" style="margin-left: auto; margin-right: auto;">
                        <h2>Please wait...</h2>
                        <img src="../../../../assets/Images/spinner.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
