.qualification-block{
    border: groove;
    padding-left: 25px;
    padding-right: 20px;
    height: 480px;
    position: relative;
}

.certificate{
    margin-bottom: 13px;
    padding-top: 5px;
    background-color: #d6cccc;
    padding-top: 11px;
    font-size: 15px;
    margin-left: 15px;
}

ul li{
    margin: 13px;
    font-size: 15px;
}

.type-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

h4{
    margin-bottom: 20px;
    margin-top: 5px;
}

.certificates{
    position: absolute;
    top: 0;
    right: -50px;
    margin-bottom: 0;
    margin-top: 5px;
}

.qualification-list{
    position: relative;
    margin-bottom: 30px;
}

.qualification-table{
    background-color: white;
    height:200px;
    overflow:auto;
    border: groove;
    padding-top: 5px;
    width: 100%;
}

.certificate-list{
    border: groove;
    padding-left: 0px;
    height: 200px;
    background-color: #ece4df;
    position: relative;
}

.certificate-list-name{
    overflow: auto;
    height: 160px;
}

.certificate-list p{
    margin-left: 5px;
    color: #286090;
}

.submit-button{
    position: absolute;
    bottom: 6px;
    right: 0px;
}

.submit-button button{
    margin-right: 8px;
    border-color: lightgray;
}
.error{
    position: absolute;
    bottom: 0;
    left: 0;
}

.help-block {
    margin: 0 0 0 17px;
    color: red;
  }

.plus{
    background-color: #80808029;
    position: absolute;
    bottom: -14px;
    right: -171px;
    padding: 2px;
}
  
td button{
      margin: 0 2px 0 2px;
}

p .glyphicon-remove{
      color: red;
      margin-left: 5px;
}
  
.remove{
      background-color: transparent;
      border: violet;
}

label{
      margin-bottom: 0;;
}

.fa-close{
        color: red;
}
