
<div *ngIf="!spinnerOn" class="container">
  <div class="row">
    <div class="login-form">
      <form *ngIf="!isLoggedIn" #form="ngForm" (ngSubmit)="onFormSubmit(data)" [formGroup]="mainForm">
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">Create an Admin Account</h4>
        <div class="form-group">
          <!-- <input type="text" class="form-control" required="required"> -->
          <input type="text" id="fullName" placeholder="Full Name" name="fullName" formControlName="fullName" [(ngModel)]="data.fullName"
            class="form-control form-control-sm" (keyup.enter)="usernameFocus()" required>
        </div>
        <div class="form-group">
          <!-- <input type="text" class="form-control" required="required"> -->
          <input type="text" id="email-signin" placeholder="Username" name="username" [(ngModel)]="data.username"
          formControlName="username" class="form-control form-control-sm" (keyup.enter)="emailFocus()" required>
        </div>
        <div class="form-group">
          <!-- <input type="text" class="form-control" required="required"> -->
          <input type="text" id="email" placeholder="Email Address" name="email" [(ngModel)]="data.email"
          formControlName="email" class="form-control form-control-sm" (keyup.enter)="loginBtnFocus()" required>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="designation" id="designation" (change)="selectDesignation($event.target.value)" name="designation" formControlName="designation">
            <option value="" disabled hidden selected> ---- Select Designation ---- </option>
            <option *ngFor="let p of this.designations" value={{p.id}} >
              {{p.designation}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="centre" id="centre" (change)="selectCentre($event.target.value)" name="centre" formControlName="centre">
            <option value="" disabled hidden selected> ---- Select Centre ---- </option>
            <option *ngFor="let p of this.centres"  value={{p.cnt_centerId}} >
              {{p.cnt_description}} - {{p.abbrivation}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="role" id="role" (change)="selectRole($event.target.value)" name="role" formControlName="role">
            <option value="" disabled hidden selected> ---- Select Role ---- </option>
            <option value="Admin"> Admin </option>
            <option value="SuperAdmin" > Super Admin </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="program" id="program" (change)="selectProgram($event.target.value)" name="program" formControlName="program">
            <option value="" disabled hidden selected> ---- Select Program ---- </option>
            <option *ngFor="let p of this.programs"  value={{p.id}} >
              {{p.programName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="faculty" id="faculty" (change)="selectFaculty($event.target.value)" name="faculty" formControlName="faculty">
            <option value="" disabled hidden selected> ---- Select Faculty ---- </option>
            <option *ngFor="let p of this.faculties"  value={{p.id}} >
              {{p.title}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="counsellors" id="counsellors" (change)="selectCounsellors($event.target.value)" name="counsellors" formControlName="counsellors">
            <option value="" disabled hidden selected> ---- Select counsellor ---- </option>
            <option *ngFor="let p of this.counsellors"  value={{p.id}} >
              {{p.title}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm" title="departments" id="departments" (change)="selectDepartments($event.target.value)" name="departments" formControlName="departments">
            <option value="" disabled hidden selected> ---- Select department ---- </option>
            <option *ngFor="let p of this.departments"  value={{p.id}} >
              {{p.title}}
            </option>
          </select>
        </div>
        <div hidden class="form-group small clearfix">
          <label class="form-check-label"><input type="checkbox" onclick="showHidePassword()" id="checkbox"> Show
            password</label>
        </div>
        <input type="submit" [disabled]="!data.fullName || !data.username || !data.email || data.roles.length == 0 || !data.centreId ||!data.roles" class="btn btn-primary btn-block btn-lg"
          value="SignUp" id="loginBtn">
      </form>
      <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
    </div>
  </div>
</div>
<div *ngIf="spinnerOn" class="container">
  <div class="row">
    <div class="Content-wrapper">
      <div id="spinner" class="col-6" style="margin-left: auto; margin-right: auto;">
        <div id="spinner_content" class="col-6" style="margin-left: auto; margin-right: auto;">
          <div class="form-group" style="margin-left: auto; margin-right: auto;">
            <h2>Please wait...</h2>
            <img src="assets/Images/spinner.gif" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#myModal" class="trigger-btn" data-toggle="modal" hidden id="openModal"></a>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Ooops!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<a href="#successModal" class="trigger-btn" data-toggle="modal" hidden id="sucModal"></a>
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box-success">
          <i class="fa fa-check"></i>
        </div>
        <h4 class="modal-title w-100">Great!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-outline-dark" routerLink="/home" data-dismiss="modal"
      routerLinkActive="active">OK</button>
      </div>
    </div>
  </div>
</div>
