<div class="container">
    <div class="row">

        <div class="col-12">
            <h4>Enter your Work Experiences <a (click)='callopen()'>
                    <fa-icon [icon]="faInfoCircle" style="color:orange; width: 100px;cursor: pointer;"></fa-icon>
                </a></h4>
            <p class="small">
                Home > Enter your Work Experiences </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="Content-wrapper">

                <div>
                    <h6 style="color: blue; margin-top: 10px; margin-bottom: 10px;">It is much better to fill your
                        Working Experience. If not, please skip this.</h6>
                </div>

                <form #form="ngForm" (ngSubmit)="saveCertificatesWork(certiWork)">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <label for="certificates">Upload
                                        Certificates (pdf only)</label>
                                    <input type="file" class="form-control-sm" id="certificates" required
                                        [(ngModel)]="certiWork.certificateName" name="certificates"
                                        #certificates="ngModel" accept="application/pdf" (change)="readFile($event)"
                                        (change)="selectFile($event)">
                                </div>
                                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                                    <div class="row " id="button-group">
                                        <div class="col-12 text-right py-2">
                                            <button *ngIf="certificate" class="btn btn-sm  btn-main" type="submit">
                                                <i class="fa fa-plus" style="font-size:18px"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form #form="ngForm" (ngSubmit)="onFormSubmit(data)">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                            <!--Company filed -->
                            <div class="form-group">
                                <label for="company">Company * :</label>
                                <input type="text " class="form-control input-type form-control-sm" id="company"
                                    required [(ngModel)]="data.company" name="company" #company="ngModel">
                            </div>

                            <!--Date From filed -->
                            <div class="form-group">
                                <label for="dateFrom">Date From * :</label>
                                <input type='date' class="form-control input-type form-control-sm" id="dateFrom"
                                    required [(ngModel)]="data.dateFrom" name="dateFrom" #dateFrom="ngModel">
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                            <!--Designation filed -->
                            <div class="form-group">
                                <label for="designation">Designation * :</label>
                                <input type="text " class="form-control input-type form-control-sm" id="designation"
                                    required [(ngModel)]="data.designation" name="designation" #designation="ngModel">
                            </div>

                            <!--Date To  filed -->
                            <div class="form-group duration">
                                <label for="dateTo">Date To * :</label>
                                <table>
                                    <th class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <input type="date" class="form-control input-type form-control-sm" id="dateTo"
                                            required [(ngModel)]="data.dateTo" name="dateTo" #dateTo="ngModel">
                                    </th>
                                </table>


                                <!-- button - plus enter data-->
                                <div class="col-12 col-sm-12 col-md-4 col-lg-12 col-xl-12" style="padding: 0px;">
                                    <div class="form-group" style="margin-top: 10px;">
                                        <button type="submit" class="btn btn-sm  btn-main" style="padding: 5px;">Save &
                                            add another qualification</button>
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <button class="btn btn-sm  btn-main" type="submit">
                                        Save & add another qualification
                                    </button>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding:15px">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Designation</th>
                                    <th>Date From</th>
                                    <th>Date To</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let experience of experiences">
                                <tr>
                                    <td>{{experience.company}}</td>
                                    <td>{{experience.designation}}</td>
                                    <td>{{experience.dateFrom}}</td>
                                    <td>{{experience.dateTo}}</td>
                                    <td class="row">
                                        <div style=" padding-right: 15px">
                                            <a id="editbtn" class="table-row-action edit-action"
                                                (click)="OpenEdit(edit,experience.id)">
                                                <i class="fa fa-edit" style="font-size:18px;"></i> </a>
                                        </div>
                                        <!-------------- edit form----------->
                                        <ng-template #edit>
                                            <div class="modal-header">
                                                <h4 class="modal-title pull-left">Edit Row</h4>
                                                <button type="button" class="close pull-right" aria-label="Close"
                                                    (click)="modalRef.hide()">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form #form="ngForm" (ngSubmit)="Update(experience.id, data2)">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <label for="company">Company:</label>
                                                        <input type="text"
                                                            class="form-control input-type form-control-sm" id="company"
                                                            value="editcompany" [(ngModel)]="data2.company"
                                                            name="company">
                                                    </div>
                                                    <div class="row">
                                                        <label for="designation">Designation:</label>
                                                        <input type="text"
                                                            class="form-control input-type form-control-sm"
                                                            id="designation" value=editdesignation
                                                            [(ngModel)]="data2.designation" name="designation">
                                                    </div>
                                                    <div class="row">
                                                        <label for="dateFrom">Date From:</label>
                                                        <input type="date"
                                                            class="form-control input-type form-control-sm"
                                                            id="dateFrom" value=editdateFrom
                                                            [(ngModel)]="data2.dateFrom" name="dateFrom">
                                                    </div>
                                                    <div class="row">
                                                        <label for="dateTo">Date To:</label>
                                                        <input type="date"
                                                            class="form-control input-type form-control-sm" id="dateTo"
                                                            value=editdateTo [(ngModel)]="data2.dateTo" name="dateTo">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark"
                                                        (click)="modalRef.hide()">Cancle</button>
                                                    <button type="submit" class="btn btn-outline-dark">Update</button>
                                                </div>
                                            </form>
                                        </ng-template>

                                        <div style=" padding-left: 15px" (click)="openDelete(deletedata)">
                                            <i class="fa fa-trash" style="font-size:18px;"></i>
                                            <ng-template #deletedata>
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Message</h4>
                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                        (click)="modalRef.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really want to delete the record?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark"
                                                        (click)="modalRef.hide()">Cancle</button>
                                                    <button type="button" class="btn btn-outline-dark"
                                                        (click)="delete(experience.id)">Delete</button>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="certificate-list">
                            <h5><b>Uploaded Certificates</b></h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list" *ngIf="counsellingWorkExp">
                                    <a
                                        href='{{base_url}}/api/counselling/files/workexp/{{initialApplicant.toString()}}'>{{initialApplicant}}_work</a>
                                </li>
                            </ul>

                            <ul class="list-group list-group-flush" *ngFor="let certificate of certificatesWork">
                                <li class="list-group-item list">
                                    <a href="{{base_url}}/api/file/download/s3bucket/{{certificate.id}}_work.pdf">
                                        {{certificate.certificateName}}
                                    </a>
                                    <a (click)="deleteCertificatesWork(certificate.id)"><i
                                            class="fa fa-remove alert-danger icon pull-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row " id="button-group">
                        <div class="col-12 text-right py-2">


                            <button type="reset" class="btn btn-sm  btn-reset">Reset</button>
                            <button type="button" class="btn btn-sm  btn-main" [routerLink]="['/home']">Save
                                & Exit</button>
                            <button type="button" class="btn btn-sm  btn-main" (click)="continue()">Save
                                & Continue
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

            <app-language> </app-language>
        </div>
    </div>
</div>

<!-- pop up msg-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Saved succesfully.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<ng-template #deleteok>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Record is successfully deleted.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<ng-template #editok>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Record is edited successfully.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<!-- fill mandatory-->
<ng-template #fillMandatory>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="fillRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Please fill the mandatory fields.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="fillRef.hide()">OK</button>
    </div>
</ng-template>

<!-- validate date-->
<ng-template #validateDate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{msg}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<!-- Save sucessfull msg-->
<ng-template #saveSucessful>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sucessRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Saved successfully
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sucessRef.hide()">OK</button>
    </div>
</ng-template>

<!-- upload pdf files -->
<ng-template #pdfOnly>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="fillRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Accepted Pdf file format only
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="pdf.hide()">OK</button>
    </div>
</ng-template>