<!-- <div id="main" class="container"> -->
<div id="main" class="Content-wrapper">


    <div>
        <h4>Search Applications</h4>
        <form [formGroup]="myform">
            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <label for="">Applicant Type</label>
                </div>
                <div class="col-sm-2">
                    <input type="radio" formControlName="atype" name="atype" value="1" (change)="NicOrPassport()"> Sri Lankan
                </div>
                <div class="col-sm-3">
                    <input type="radio" formControlName="atype" name="atype" value="2" (change)="NicOrPassport()"> Overseas
                </div>
            </div>
            
            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Applicant {{searchTearm}}</label>
                    </span>
                </div>
                <div class="col-sm-4">

                    <input type="text" class="form-control input-type form-control-sm" formControlName="nic1"
                        name="nic1" [ngClass]="{ 'is-invalid': a.nic1.touched && a.nic1.errors }">
                    <div *ngIf="a.nic1.touched && a.nic1.errors" class="invalid-feedback">
                        <div *ngIf="a.nic1.errors.required">NIC is required</div>
                        <div *ngIf="a.nic1.errors.pattern">NIC must be in correct format</div>
                    </div>

                </div>
            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    <button (click)="searchfunc()" [disabled]='sbtn' class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div *ngIf="showtable">

        <div>
            <h4>Applications</h4>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="">Date : </label>
                {{currdate | date:'yyyy-MM-dd'}}
            </div>

            <div style="text-align:end" class="col-sm-6">
                <label for="">Time :</label>
                {{Time}}
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>No.</th>
                <th>Programme</th>
                <th>Academic Year</th>
                <th>Appilication Closing Date</th>
                <th>Current Status</th>
                <th>More</th>
            </tr>
            <tr *ngFor="let data of tabledata;let i = index">
                <td>{{i+1}}</td>
                <td>{{data.pname}}</td>
                <td>{{data.ayear}}</td>
                <td>{{data.closedate}}</td>
                <td>{{data.status}}</td>
                <td><a style="color: blue;" (click)="getId(data.id)">View</a></td>
            </tr>
        </table>

    </div>

    <div>
        <form [formGroup]="groupTwo" *ngIf="showdetails">
            <div>
                <h4>Application Search Results</h4>
            </div>
            <br>
            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Application Number</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label>{{applicant.applino}} </label>

                </div>

            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Programme</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label> {{applicant.program}}</label>

                </div>

            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Name with Initials</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label >{{applicant.name}} </label>

                </div>

            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">{{searchTearm}}</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label>{{applicant.nic}} </label>
                </div>

            </div>


            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Date Applied</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label> </label>

                </div>

            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">SMS Sent Date</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label> </label>

                </div>

            </div>


            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Application Fee (Rs)</label>
                    </span>
                </div>
                <div class="col-sm-3 vborder">

                    <label >{{applicant.fee}} </label>

                </div>

                <div class="col-sm-2">
                    <span>
                        <label for="">Voucher Ref No.</label>
                    </span>
                </div>
                <div class="col-sm-2 vborder">

                    <label>{{voucherNo}} </label>

                </div>

            </div>

            <div class="form-group mt-3 row">


            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Payment Status</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label >{{applicant.paid? "Payment is Completed": "Payment is Not Completed"}} </label>

                </div>

            </div>

            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Academic Centre</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label >{{applicant.center}} </label>

                </div>

            </div>


            <div class="form-group mt-3 row">
                <div class="col-sm-4">
                    <span>
                        <label for="">Medium of Study</label>
                    </span>
                </div>
                <div class="col-sm-4 vborder">

                    <label >{{applicant.medium}} </label>
                </div>

            </div>
            <div class="form-group mt-3 row">
                <div class="col-sm-3">
                    <b>Click Here to <a (click)="callprint()" style="color: blue;text-decoration: underline;">View
                            Application</a></b>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-5" style="text-align: end;">
                    <b>Click Here to <a>View
                        Admission</a> 
                        <select formControlName="examids" (change)="callAdmission()" class="form-control-sm dropdown_menu" style="width: 150px;margin-left: 5px;">
                            <option value="">--Select--</option>
                            <option *ngFor="let item of exams" value="{{item.entryExamMethod.id}}">{{item.entryExamMethod.description}}</option>
                        </select> </b>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div style="text-align:end" class="col-sm-3"> <button style="width: 120px;" (click)="resetall()"
                        class="btn btn-secondary">Reset</button></div>
            </div>
        </form>


        <br>
    </div>


</div>
<br>
<!-- </div> -->