.header
{
    background-color: black;
}
.header-text{
    color: white;
    text-align: center;
    text-size-adjust: 10;
    font-weight: bold;
    font-size: 30px;
    /* margin-top: 50px; */
    margin-bottom: 40px;
}

.modal-confirm {		
    color: #636363;
    width: 325px;
    font-size: 14px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
  }	
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }	
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm.modal-dialog {
    margin-top: 80px;
  }
  .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #e72020;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
  }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #f05b5b;
    outline: none;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }



  .modal-confirm-pop {		
    color: #636363;
    width: 325px;
    font-size: 14px;
  }
  .modal-confirm-pop .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm-pop .modal-header {
    border-bottom: none;   
    position: relative;
  }
  .modal-confirm-pop h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm-pop .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm-pop .close {
    position: absolute;
    top: -5px;
    right: -5px;
  }	
  .modal-confirm-pop .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }	
  .modal-confirm-pop .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #b1da1d;
  }
  .modal-confirm-pop .icon-box i {
    color: #b1da1d;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm-pop .modal-dialog {
    margin-top: 80px;
  }
  .modal-confirm-pop .btn {
    color: #fff;
    border-radius: 4px;
    background: #b1da1d;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    width: 30%;
  }
  .modal-confirm-pop .btn:hover, .modal-confirm-pop .btn:focus {
    background: #ebf742;
    outline: none;
  }
  .modal-confirm-pop .btn-x {
    color: #fff;
    border-radius: 4px;
    background: #b1da1d;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
  }
  .modal-confirm-pop .btn-x:hover, .modal-confirm-pop .btn-x:focus {
    background: #58cf54;
    outline: none;
  }


/* edit modal */
  .modal-login {
    width: 350px;
  }
  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
  }
  .modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
  }
  .modal-login h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
  }
  .modal-login .modal-content {
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
  }
  .modal-login .form-group {
    margin-bottom: 20px;
  }
  .modal-login label {
    font-weight: normal;
    font-size: 13px;
  }
  .modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
  .modal-login .form-control:focus {
    border-color: #ccc;
  }
  .modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-bottom: 1px solid #ced4da;
    padding-right: 5px;
    border-radius: 0;
  }
  .modal-login .btn, .modal-login .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d !important;
    border-radius: 3px;
    border: none;
    min-width: 140px;
  }
  .modal-login .btn:hover, .modal-login .btn:focus {
    background: #179b81 !important;
  }
  .modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
  }
  .modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
  }
  .modal-login a {
    color: #fff;
    text-decoration: underline;
  }
  .modal-login a:hover {
    text-decoration: none;
  }
  .modal-login a {
    color: #19aa8d;
    text-decoration: none;
  }
  .modal-login a:hover {
    text-decoration: underline;
  }
  .modal-login .fa {
    font-size: 21px;
    position: relative;
    top: 6px;
  }