<!---------------------------Educational Qualification Academic details-------------------------->

<div class="container view-aplication-block">
    <div class="text-center heading">
        <h3>View Educational Qualification Academic details</h3>
    </div>

    <div style="height: 100%;margin-bottom: 10px;">

        <div>
            <div class="qualification-block">

                <div class="qualification-list row">
                    <div class="qualification-table col-sm-9">
                        <table class="table table-bordered table-fixed" id=acQualificationTable>
                            <thead>
                                <tr>
                                    <th scope="col">qualification Type</th>
                                    <th scope="col">qualification Name</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Institution</th>
                                    <th scope="col">effective Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of eduAcademic; let i = index">
                                    <td>{{a.qualificationType}}</td>
                                    <td>{{a.qualificationName}}</td>
                                    <td>{{a.duration}}</td>
                                    <td>{{a.institution.institution}}</td>
                                    <td>{{a.effectiveDate}}</td>
                                    <td>
                                        <button type="button" (click)="openEdit(editForm, a.id)"> <span
                                                class="fa fa-edit"></span></button>

                                        <!-- Edit form popup-->
                                        <ng-template #editForm>
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Edit Academic Details</h4>
                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                        (click)="modalRef.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        <div class="row">
                                                            <!-- field  Qualification Type-->
                                                            <div class="form-group col-sm-4">
                                                                <label for="qualificationType" class="col-sm-6">
                                                                    Qualification Type*</label>
                                                                <div class="col-sm-12">
                                                                    <input type="text" class="form-control"
                                                                        id="qualificationType" name="qualificationType"
                                                                        [(ngModel)]="editedDataAcademic.qualificationType"
                                                                        required #qualificationType="ngModel">
                                                                </div>
                                                            </div>

                                                            <!-- field  Qualification Name-->
                                                            <div class="form-group col-sm-4">
                                                                <label for="qualificationName" class="col-sm-6">
                                                                    Qualification Name*</label>
                                                                <div class="col-sm-12">
                                                                    <input type="text" class="form-control"
                                                                        id="qualificationName" name="qualificationName"
                                                                        [(ngModel)]="editedDataAcademic.qualificationName"
                                                                        required #qualificationName="ngModel">
                                                                </div>
                                                            </div>

                                                            <!-- field Duration-->
                                                            <div class="form-group col-sm-4">
                                                                <label for="duration" class="col-sm-6">Duration*</label>
                                                                <div class="col-sm-12">
                                                                    <input type="text" class="form-control"
                                                                        id="duration" name="duration"
                                                                        [(ngModel)]="editedDataAcademic.duration"
                                                                        required #duration="ngModel">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <!-- field Institution-->
                                                            <div class="form-group col-sm-4">
                                                                <label for="institution"
                                                                    class="col-sm-6">Institution*</label>
                                                                <div class="col-sm-12" style="padding-right: 1px;">
                                                                    <select class="form-control" id="institution"
                                                                        name="institution"
                                                                        [(ngModel)]="editedDataAcademic.institution.id"
                                                                        required>
                                                                        <option selected disabled>
                                                                            ---------Select---------</option>
                                                                        <option *ngFor="let i of institution"
                                                                            [value]="i.id">{{i.institution}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <!-- field Effective Date-->
                                                            <div class="form-group col-sm-4">
                                                                <label for="effectiveDate" class="col-sm-6">Effective
                                                                    Date*</label>
                                                                <div class="col-sm-12">
                                                                    <input type="date" class="form-control"
                                                                        id="effectiveDate" name="effectiveDate"
                                                                        [(ngModel)]="editedDataAcademic.effectiveDate"
                                                                        required #effectiveDate="ngModel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="modalRef.hide()">Cancle</button>
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="updateAcademic(a.id, editedDataAcademic)">Update</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!-- end of edit form popup-->

                                        <button type="button" (click)="openDelete(deleteConfirmation)"> <span
                                                class="fa fa-trash"></span></button>

                                        <!-- delete confirmation pop up-->
                                        <ng-template #deleteConfirmation>
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title pull-left">Delete</h4>
                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                        (click)="modalRef.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you really want to delete this record?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        (click)="modalRef.hide()">Cancle</button>
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="deleteAcademic(a.id)">Delete</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!-- end of delete confirmation popup-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--certficate list div-->
                    <div class="col-sm-3">
                        <div class="certificate-list">
                            <p>Academic Certificates</p>
                            <div class="certificate-list-name">
                                <p *ngFor="let certificate of certificatesAcademic">
                                    {{certificate.certificateName}}
                                    <button type="button" (click)="deleteCertificatesAcademic(certificate.id)"
                                        class="remove">
                                        <span class="fa fa-close"></span></button>
                                </p>
                            </div>
                        </div> <!-- end of certificate list class-->
                    </div>

                </div> <!-- end of qualification list table class-->

            </div> <!-- end of qualification class-->

        </div> <!-- end of qualification class-->
    </div> <!-- end of educational Qualifications -->
</div> <!-- end of container class-->

<!------------------------pop up------------------->
<!-- delete successful msg-->
<ng-template #deleteok>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Record is successfully deleted.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<!-- edit sucessful msg-->
<ng-template #editok>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Record is edited successfully.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
    </div>
</ng-template>

<!-- fill mandatory-->
<ng-template #fillMandatory>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="fillRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Please fill the mandatory fields.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="fillRef.hide()">OK</button>
    </div>
</ng-template>