.aplication-block{
    background-color: white;
    border: solid;
    border-color: #007bff;
}

.topic{
    background-color: #c7c7c7;
    color: black;
    text-align: center;
    padding: 6px;
    border: solid;
    border-color: #007bff;
    margin: auto;
}

.consent-form{
    font-size: 18px;
    text-align: justify;
    margin: auto;
}