<!---------------------------Personal details-------------------------->

<div class="container view-aplication-block">
    <div class="text-center heading">
        <h3>View Personal Details</h3>
    </div>

    <div style="height: 100%;margin-bottom: 10px;">

        <div>
            <div class="qualification-block">

                <div class="qualification-list row">
                    <div class="qualification-table col-sm-9">
                        <div class="personal-details" *ngFor="let p of personalDetails">

                            <!-- details list-->
                            <div class="form-group row">
                                <label for="title" class="col-md-4">Title*</label>
                                <label for="title" class="col-md-4">{{p.title}}</label>
                            </div>

                            <div class="form-group row">
                                <label for="familyName" class="col-md-4">Family
                                    Name*</label>
                                <label for="familyName" class="col-md-4">{{p.familyName}}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label for="firstName" class="col-md-4">First Name*</label>
                                <label for="firstName" class="col-md-4">{{p.firstName}}</label>
                            </div>

                            <div class="form-group row">
                                <label for="middleName" class="col-md-4">Middle
                                    Name*</label>
                                <label for="middleName" class="col-md-4">{{p.middleName}}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label for="gender" class="col-md-4">Gender*</label>
                                <label for="gender" class="col-md-4">{{p.gender}}}</label>
                            </div>

                            <div class="form-group row">
                                <label for="countryOfBirth" class="col-md-4">Country Of
                                    Birth*</label>
                                <label for="countryOfBirth" class="col-md-4">{{p.countryOfBirth}}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label for="dateOfBirth" class="col-md-4">Date Of
                                    Birth*</label>
                                <label for="dateOfBirth" class="col-md-4">{{p.dateOfBirth}}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label for="age" class="col-md-4">Age</label>
                                <label for="age" class="col-md-4">{{p.age}}</label>

                                <div class="form-group row">
                                    <label for="nationality" class="col-md-4">Nationality*</label>
                                    <label for="nationality" class="col-md-4">{{p.nationality}}</label>
                                </div>

                                <div class="form-group row">
                                    <label for="foriegnAddress" class="col-md-4">Foriegn
                                        Address*</label>
                                    <label for="foriegnAddress" class="col-md-4">{{p.foriegnAddress}}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label for="localAddress" class="col-md-4">Local
                                        Address</label>
                                    <label for="localAddress" class="col-md-4">{{p.localAddress}}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-md-4">Email</label>
                                    <label for="email" class="col-md-4">{{p.email}}</label>
                                </div>

                                <div class="form-group row">
                                    <label for="mobileNoForiegn" class="col-md-4">Mobile No
                                        Foriegn*</label>
                                    <label for="mobileNoForiegn" class="col-md-4">{{p.mobileNoForiegn}}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label for="mobileNoLocal" class="col-md-4">Mobile No
                                        Local</label>
                                    <label for="mobileNoLocal" class="col-md-4">{{p.mobileNoLocal}}
                                    </label>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">Passport Details</div>
                                    <div class="panel-body">
                                        <div class="form-group row" id="firstRowPanel">
                                            <div class="col-md-8">
                                                <div class=" form-group row">
                                                    <label for="passportNo" class="col-md-6">Passport
                                                        No*</label>
                                                    <label for="passportNo" class="col-md-6">{{p.passportNo}}
                                                    </label>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="passportIssuedCountry" class="col-md-6">Passport Issued
                                                        Country*</label>
                                                    <label for="passportIssuedCountry"
                                                        class="col-md-6">{{p.passportIssuedCountry}}
                                                    </label>
                                                </div>

                                                <div class=" form-group row">
                                                    <label for="passportExpirydate" class="col-md-6">Passport Expiry
                                                        Date*</label>
                                                    <label for="passportExpirydate"
                                                        class="col-md-6">{{p.passportExpirydate}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row"></div>

                                <div class="panel">
                                    <div class="panel-heading">Nearest Sri Lnkan embassy Details
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group row" id="firstRowPanel">
                                            <div class="col-md-8">
                                                <div class=" form-group row">
                                                    <label for="embassyFaxNo" class="col-md-6">Embassy
                                                        Fax No.</label>
                                                    <label for="embassyFaxNo" class="col-md-6">{{p.embassyFaxNo}}
                                                    </label>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="embassyEmailAddress" class="col-md-6">Embassy Email
                                                        Address</label>
                                                    <label for="embassyEmailAddress"
                                                        class="col-md-6">{{p.embassyEmailAddress}}
                                                    </label>
                                                </div>

                                                <div class=" form-group row">
                                                    <label for="embassyContactNo" class="col-md-6">Embassy Contact
                                                        No.</label>
                                                    <label for="embassyContactNo"
                                                        class="col-md-6">{{p.embassyContactNo}}
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                &nbsp;
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" (click)="openEdit(editForm, p.id)"> <span
                                    class="fa fa-edit"></span></button>
                            <button type="button" (click)="openDelete(deleteConfirmation)"> <i
                                    class="fa fa-trash"></i></button>

                            <!-- Edit form popup-->
                            <ng-template #editForm>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Edit Personal Details</h4>
                                        <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <!-- edit personal details form-->
                                        <form #formPersionalDetailsCat1="ngForm"
                                            (ngSubmit)="updatePersonal(personalDetailsCat1)">

                                            <div class="form-group row">
                                                <label for="title" class="col-md-4">Title*</label>
                                                <select class="form-control col-md-4" name="title" id="title"
                                                    [(ngModel)]="personalDetailsCat1.title" required>
                                                    <option value="1">Mr</option>
                                                    <option value="2">Ms</option>
                                                    <option value="3">Mrs</option>
                                                    <option value="4">Rev</option>
                                                    <option value="5">Prof</option>
                                                    <option value="6">Doctor</option>
                                                </select>
                                            </div>

                                            <div class="form-group row">
                                                <label for="familyName" class="col-md-4">Family
                                                    Name*</label>
                                                <input type="text" class="form-control col-md-4" name="familyName"
                                                    id="familyName" pattern="[a-zA-Z ]+" required
                                                    [(ngModel)]="personalDetailsCat1.familyName"
                                                    #familyNameCon="ngModel">
                                                <div *ngIf="familyNameCon.invalid && (familyNameCon.dirty || familyNameCon.touched)"
                                                    class="invalid">

                                                    <span *ngIf="familyNameCon.errors.required">
                                                        Family Name is required.
                                                    </span>

                                                    <div *ngIf="familyNameCon.errors.pattern">
                                                        Enter Only Letters
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="firstName" class="col-md-4">First Name*</label>
                                                <input type="text" class="form-control col-md-4" pattern="[a-zA-Z. ]+"
                                                    name="firstName" id="firstname" required
                                                    [(ngModel)]="personalDetailsCat1.firstName" #firstNameCon="ngModel">
                                                <div *ngIf="firstNameCon.invalid && (firstNameCon.dirty || firstNameCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="firstNameCon.errors.required">
                                                        First Name is required.
                                                    </div>
                                                    <div *ngIf="firstNameCon.errors.pattern">
                                                        Enter Only Letters
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="middleName" class="col-md-4">Middle
                                                    Name*</label>
                                                <input type="text" class="form-control col-md-4" name="middleName"
                                                    id="middlename" [(ngModel)]="personalDetailsCat1.middleName"
                                                    pattern="[a-zA-Z ]+" required #middleNameCon="ngModel">
                                                <div *ngIf="middleNameCon.invalid && (middleNameCon.dirty || middleNameCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="middleNameCon.errors.required">
                                                        Middle Name is required.
                                                    </div>

                                                    <div *ngIf="middleNameCon.errors.pattern">
                                                        Enter Only Letters
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label for="gender" class="col-md-4">Gender*</label>
                                                <div class="form-check form-check-inline col-md-4" required>

                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                            value="1" required [(ngModel)]="personalDetailsCat1.gender">
                                                        male
                                                    </label>
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                            value="2" [(ngModel)]="personalDetailsCat1.gender">
                                                        female
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="countryOfBirth" class="col-md-4">Country Of
                                                    Birth*</label>
                                                <select
                                                    [class.is-invalid]="ListHasError && (countryOfBirthCon.dirty || countryOfBirthCon.touched)"
                                                    [(ngModel)]="personalDetailsCat1.countryOfBirth"
                                                    #countryOfBirthCon="ngModel"
                                                    (blur)=" validateAList(countryOfBirthCon.value)"
                                                    (change)="validateAList(countryOfBirthCon.value); "
                                                    class="form-control col-md-4" name="countryOfBirth">

                                                    <option value="default" [selected]>Select Country
                                                    </option>
                                                    <option *ngFor="let country of countryInfo ; let i = index"
                                                        value="{{country.id}}">
                                                        {{country.name}}
                                                    </option>
                                                </select>

                                                <div *ngIf="ListHasError && (countryOfBirthCon.dirty || countryOfBirthCon.touched)"
                                                    class="invalid">
                                                    <div *ngIf="ListHasError || countryOfBirthCon.untouched">
                                                        Please select a country
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="dateOfBirth" class="col-md-4">Date Of
                                                    Birth*</label>
                                                <input type="date" class="form-control col-md-4" name="dateOfBirth"
                                                    #dateOfBirthCon="ngModel" required placeholder="(dd/mm/yyyy)"
                                                    [(ngModel)]="personalDetailsCat1.dateOfBirth"
                                                    (change)="calculateAge('cal')">
                                                <div *ngIf="dateOfBirthCon.invalid && (dateOfBirthCon.dirty || dateOfBirthCon.touched)"
                                                    class="invalid">

                                                    <span *ngIf="dateOfBirthCon.errors.required">
                                                        Date of Birth is required.
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="age" class="col-md-4">Age</label>
                                                <input [value]="applicantAgeToToday"
                                                    [(ngModel)]="personalDetailsCat1.age" type="text"
                                                    class="form-control col-md-4" name="age" id="age" readonly
                                                    placeholder="Autofill" #ageCon="ngModel">
                                            </div>

                                            <div class="form-group row">
                                                <label for="nationality" class="col-md-4">Nationality*</label>
                                                <input type="text" class="form-control col-md-4" name="nationality"
                                                    [(ngModel)]="personalDetailsCat1.nationality" id="nationality"
                                                    required pattern="[a-zA-Z]+" #nationalityCon="ngModel">
                                                <div *ngIf="nationalityCon.invalid && (nationalityCon.dirty || nationalityCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="nationalityCon.errors.required">
                                                        Nationality is required.
                                                    </div>
                                                    <div *ngIf="nationalityCon.errors.pattern">
                                                        Enter Only Letters
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label for="foriegnAddress" class="col-md-4">Foriegn
                                                    Address*</label>
                                                <input type="text" class="form-control col-md-4" name="foriegnAddress"
                                                    id="foriegnAddress" required
                                                    [(ngModel)]="personalDetailsCat1.foriegnAddress" pattern="\w+"
                                                    #foriegnAddressCon="ngModel">
                                                <div *ngIf="foriegnAddressCon.invalid && (foriegnAddressCon.dirty || foriegnAddressCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="foriegnAddressCon.errors.required">
                                                        Foriegn Address is required.
                                                    </div>
                                                    <div *ngIf="foriegnAddressCon.errors.pattern">
                                                        Enter Only Letters and Numbers
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label for="localAddress" class="col-md-4">Local
                                                    Address</label>
                                                <input type="text" class="form-control col-md-4" name="localAddress"
                                                    id="localAddress" pattern="\w+"
                                                    [(ngModel)]="personalDetailsCat1.localAddress"
                                                    #localAddressCon="ngModel">
                                                <div *ngIf="localAddressCon.invalid && (localAddressCon.dirty || localAddressCon.touched)"
                                                    class="invalid">
                                                    <div *ngIf="localAddressCon.errors.pattern">
                                                        Enter Only Letters and Numbers
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label for="email" class="col-md-4">Email</label>
                                                <input type="email" class="form-control col-md-4" name="email"
                                                    [value]="userEmail" readonly placeholder="sarath123@gmail.com"
                                                    [(ngModel)]="personalDetailsCat1.email" #emailCon="ngModel"
                                                    pattern='^([\w-\.!#$%&?^_`{|?*=]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$'>

                                                <div *ngIf="emailCon.invalid && (emailCon.dirty || emailCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="emailCon.errors.pattern">
                                                        Invalid Email Address
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="mobileNoForiegn" class="col-md-4">Mobile No
                                                    Foriegn*</label>
                                                <input minlength="10" maxlength="12" type="text"
                                                    class="form-control col-md-4" name="mobileNoForiegn"
                                                    id="mobileNoForiegn"
                                                    [(ngModel)]="personalDetailsCat1.mobileNoForiegn" required
                                                    #mobileNoForiegnCon="ngModel" pattern="^[+0-9]\d+">
                                                <div *ngIf="mobileNoForiegnCon.invalid && (mobileNoForiegnCon.dirty || mobileNoForiegnCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="mobileNoForiegnCon.errors.minlength">
                                                        Enter at least 10 number
                                                    </div>
                                                    <div *ngIf="mobileNoForiegnCon.errors.maxlength">
                                                        Enter more than 12 numbers only
                                                    </div>
                                                    <div *ngIf="mobileNoForiegnCon.errors.required">
                                                        Foriegn Mobile Number is required.
                                                    </div>
                                                    <div *ngIf="foriegnAddressCon.errors.pattern">
                                                        Enter Only + and Numbers
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label for="mobileNoLocal" class="col-md-4">Mobile No
                                                    Local</label>
                                                <input type="text" class="form-control col-md-4" name="mobileNoLocal"
                                                    id="mobileNoLocal" maxlength="12" minlength="10" pattern="[0-9]\d+"
                                                    [(ngModel)]="personalDetailsCat1.mobileNoLocal"
                                                    #mobileNoLocalCon="ngModel">
                                                <div *ngIf="mobileNoLocalCon.invalid && (mobileNoLocalCon.dirty || mobileNoLocalCon.touched)"
                                                    class="invalid">

                                                    <div *ngIf="mobileNoLocalCon.errors.minlength">
                                                        Enter at least 10 number
                                                    </div>
                                                    <div *ngIf="mobileNoLocalCon.errors.maxlength">
                                                        Enter more than 12 numbers only
                                                    </div>
                                                    <div *ngIf="mobileNoLocalCon.errors.required">
                                                        Local Mobile Number is required.
                                                    </div>
                                                    <div *ngIf="mobileNoLocalCon.errors.pattern">
                                                        Enter Only Numbers
                                                    </div>

                                                </div>


                                            </div>

                                            <div class="panel">
                                                <div class="panel-heading">Passport Details</div>
                                                <div class="panel-body">
                                                    <div class="form-group row" id="firstRowPanel">
                                                        <div class="col-md-8">
                                                            <div class=" form-group row">
                                                                <label for="passportNo" class="col-md-6">Passport
                                                                    No*</label>
                                                                <input type="text" class="form-control col-md-4"
                                                                    name="passportNo" id="passportNo" required
                                                                    [(ngModel)]="personalDetailsCat1.passportNo"
                                                                    #passportNoCon="ngModel" pattern="\w+">

                                                                <div *ngIf="passportNoCon.invalid && (passportNoCon.dirty || passportNoCon.touched)"
                                                                    class="invalid">

                                                                    <span *ngIf="passportNoCon.errors.required">
                                                                        Passport Number is required.
                                                                    </span>
                                                                    <div *ngIf="passportNoCon.errors.pattern">
                                                                        Enter Only Numbers
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="passportIssuedCountry"
                                                                    class="col-md-6">Passport Issued
                                                                    Country*</label>
                                                                <select
                                                                    [class.is-invalid]="ListHasError && (passportIssuedCountryCon.dirty || passportIssuedCountryCon.touched)"
                                                                    [(ngModel)]="personalDetailsCat1.passportIssuedCountry"
                                                                    #passportIssuedCountryCon="ngModel"
                                                                    (blur)=" validateAList(passportIssuedCountryCon.value)"
                                                                    (change)=" validateAList(passportIssuedCountryCon.value)"
                                                                    class="form-control col-md-4"
                                                                    name="passportIssuedCountry"
                                                                    id="passportIssuedCountry">
                                                                    <option value="default">Select Country
                                                                    </option>
                                                                    <option
                                                                        *ngFor="let country of countryInfo ; let i = index"
                                                                        value="{{country.id}}">
                                                                        {{country.name}}
                                                                    </option>
                                                                </select>

                                                                <div *ngIf="ListHasError && (passportIssuedCountryCon.dirty || passportIssuedCountryCon.touched)"
                                                                    class="invalid">

                                                                    <div
                                                                        *ngIf="ListHasError || countryOfBirthCon.untouched">
                                                                        Please select a country
                                                                    </div>
                                                                </div>

                                                            </div>


                                                            <div class=" form-group row">
                                                                <label for="passportExpirydate"
                                                                    class="col-md-6">Passport Expiry
                                                                    Date*</label>
                                                                <input type="date" class="form-control col-md-4"
                                                                    name="passportExpirydate" placeholder="(dd/mm/yyyy)"
                                                                    id="passportExpirydate" required
                                                                    [(ngModel)]="personalDetailsCat1.passportExpirydate"
                                                                    #passportExpiryDateCon="ngModel">
                                                                <div *ngIf="passportExpiryDateCon.invalid && (passportExpiryDateCon.dirty || passportExpiryDateCon.touched)"
                                                                    class="invalid">

                                                                    <div *ngIf="passportExpiryDateCon.errors.required">
                                                                        Expiry Date is required.
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class=" form-group row">
                                                                <b>Upload passport *</b> <input type="file"
                                                                    class="form-control" name="uploadedImage"
                                                                    id="uploadedImage" required accept="image/*">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row"></div>

                                            <div class="panel">
                                                <div class="panel-heading">Nearest Sri Lnkan embassy Details
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group row" id="firstRowPanel">
                                                        <div class="col-md-8">
                                                            <div class=" form-group row">
                                                                <label for="embassyFaxNo" class="col-md-6">Embassy
                                                                    Fax No.</label>
                                                                <input type="text" class="form-control col-md-4"
                                                                    name="embassyFaxNo" id="embassyFaxNo"
                                                                    [(ngModel)]="personalDetailsCat1.embassyFaxNo"
                                                                    #embassyFaxNoCon="ngModel" pattern="[0-9]+">

                                                                <div *ngIf="embassyFaxNoCon.invalid && (embassyFaxNoCon.dirty || embassyFaxNoCon.touched)"
                                                                    class="invalid">

                                                                    <div *ngIf="embassyFaxNoCon.errors.pattern">
                                                                        Enter only Numbers
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="embassyEmailAddress"
                                                                    class="col-md-6">Embassy Email
                                                                    Address</label>
                                                                <input type="text" class="form-control col-md-4"
                                                                    name="embassyEmailAddress"
                                                                    [(ngModel)]="personalDetailsCat1.embassyEmailAddress"
                                                                    id="embassyEmailAddress"
                                                                    #embassyEmailAddressCon="ngModel"
                                                                    pattern='^([\w-\.!#$%&?^_`{|?*=]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$'>

                                                                <div *ngIf="embassyEmailAddressCon.invalid && (embassyEmailAddressCon.dirty || embassyEmailAddressCon.touched)"
                                                                    class="invalid">

                                                                    <div *ngIf="embassyEmailAddressCon.errors.pattern">
                                                                        Enter valid email address
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class=" form-group row">
                                                                <label for="embassyContactNo" class="col-md-6">Embassy
                                                                    Contact
                                                                    No.</label>
                                                                <input type="text" class="form-control col-md-4"
                                                                    name="embassyContactNo"
                                                                    [(ngModel)]="personalDetailsCat1.embassyContactNo"
                                                                    #embassyContactNoCon="ngModel"
                                                                    id="embassyContactNo">
                                                            </div>


                                                        </div>

                                                        <div class="col-md-3">
                                                            &nbsp;
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="modalRef.hide()">Cancle</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- end of edit form popup-->

                            <!-- delete confirmation popup-->
                            <ng-template #deleteConfirmation>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Delete</h4>
                                        <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this record?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="modalRef.hide()">Cancle</button>
                                        <button type="button" class="btn btn-primary"
                                            (click)="deletePersonalDetails(p.id)">Delete</button>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- end fof delete confirmation popup-->

                        </div>
                    </div> <!-- end of qualification list table class-->

                </div> <!-- end of qualification class-->

            </div> <!-- end of qualification class-->
        </div> <!-- end of educational Qualifications -->
    </div> <!-- end of container class-->

    <!------------------------pop up------------------->
    <!-- delete successful msg-->
    <ng-template #deleteok>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Message</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Record is successfully deleted.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
        </div>
    </ng-template>

    <!-- edit sucessful msg-->
    <ng-template #editok>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Message</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Record is edited successfully.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">OK</button>
        </div>
    </ng-template>

    <!-- fill mandatory-->
    <ng-template #fillMandatory>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Message</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="fillRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Please fill the mandatory fields.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="fillRef.hide()">OK</button>
        </div>
    </ng-template>