#programDates 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }
  
  #programDates td, #programs th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #programDates tr:nth-child(even){background-color: #f2f2f2;}
  
  #programDates tr:hover {background-color: #ddd;}
  
  #programDates th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #651296;
    color: white;
  }
