<!-- Skills -->
<form #resumeForm="ngForm">
    <div class="shadow-sm card">
        <div class="card-body">
          <div class="d-flex justify-content-between card-title">
            <h4 class="d-flex align-items-center">
              <i class="material-icons">
                timeline
              </i>
              Skills</h4>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let s of resume.skills; let i=index">
              <div class="form-group">
                <input type="text" class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                  placeholder="e.g. Java / Angular / .Net " #Skill="ngModel" required>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" (click)="addSkill()">+</button>
            </div>
          </div>
        </div>
      </div>    
</form>


<button (click)="myClick()">myButton</button>
